# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
# Create a District Summary
comp_school = school_data_complete
comp_school.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [11]:
comp_school.keys()

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [12]:
# Total number of schools
comp_school['school_name'].value_counts()
print("Total number of schools: 15")

Total number of schools: 15

In [13]:
# Total number of students
comp_school['gender'].value_counts()
student_sum = 19735 + 19435
print("Total number of students: " + str(student_sum))

Total number of students: 39170

In [14]:
# Total budget
tot_budget = comp_school['budget'].sum()
print("Total budget: " + str(tot_budget))

Total budget: 82932329558

In [15]:
# Average math score
math_avg = comp_school['math_score'].mean()
print("Average math score: " + str(math_avg))

Average math score: 78.98537145774827

In [16]:
# Average reading score
read_avg = comp_school['reading_score'].mean()
print("Average reading score: " + str(read_avg))

Average reading score: 81.87784018381414

In [17]:
# Overall average score
math = comp_school['math_score'].mean()
read = comp_school['reading_score'].mean()
overall_avg = (math + read)/2
print("Overall average score: " + str(overall_avg))

Overall average score: 80.43160582078121

In [18]:
# Percentage of passing math (70 or greater)
comp_school[(comp_school)['math_score'] >= 70]
mpercent_pass = (29370/student_sum)*100
print("The percentage of passing math with a 70 or higher is " + str(mpercent_pass))

The percentage of passing math with a 70 or higher is 74.9808526933878

In [19]:
# Percentage of passing reading (70 or greater)
comp_school[(comp_school)['reading_score'] >= 70]
rpercent_pass = (33610/student_sum)*100
print("The percentage of passing reading with a 70 or higher is " + str(rpercent_pass))

The percentage of passing reading with a 70 or higher is 85.80546336482001

In [20]:
district = [['Number of Schools',15],
        ['Number of Students',39170],
        ['Total Budget',82932329558],
        ['Math Average',78.98537145774827],
        ['Reading Average',81.878],
        ['Overall Average',80.432],
        ['Math Passing %',74.9808526933878],
        ['Reading Passing %',85.80546336482001]]
district_summary = pd.DataFrame(district, columns = ['Item','Value'])
district_summary

                 Item         Value
0   Number of Schools  1.500000e+01
1  Number of Students  3.917000e+04
2        Total Budget  8.293233e+10
3        Math Average  7.898537e+01
4     Reading Average  8.187800e+01
5     Overall Average  8.043200e+01
6      Math Passing %  7.498085e+01
7   Reading Passing %  8.580546e+01

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [21]:
#  Sort and display the top five schools in overall passing rate
school_performance = pd.DataFrame()
school_performance['High School'] = ['Bailey', 'Johnson', 'Hernandez', 'Rodriguez', 'Figueroa', 
                                     'Huang', 'Ford', 'Wilson', 'Cabrera', 'Wright', 'Shelton', 
                                     'Thomas', 'Griffin', 'Pena', 'Holden']
comp_school['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [22]:
# Calculate total school budget

# Bailey High School
bail = comp_school[(comp_school['school_name'] == "Bailey High School")]
# Johnson High School
john = comp_school[(comp_school['school_name'] == "Johnson High School")]
# Hernandez High School
hern = comp_school[(comp_school['school_name'] == "Hernandez High School")]
# Rodriguez High School
rod = comp_school[(comp_school['school_name'] == "Rodriguez High School")]
# Figueroa High School
fig = comp_school[(comp_school['school_name'] == "Figueroa High School")]
# Huang High School
hua = comp_school[(comp_school['school_name'] == "Huang High School")]
# Ford High School
ford = comp_school[(comp_school['school_name'] == "Ford High School")]
# Wilson High School
wil = comp_school[(comp_school['school_name'] == "Wilson High School")]
# Cabrera High School
cab = comp_school[(comp_school['school_name'] == "Cabrera High School")]
# Wright High School
wri = comp_school[(comp_school['school_name'] == "Wright High School")]
# Shelton High School
she = comp_school[(comp_school['school_name'] == "Shelton High School")]
# Thomas High School
tho = comp_school[(comp_school['school_name'] == "Thomas High School")]
# Griffin High School
grif = comp_school[(comp_school['school_name'] == "Griffin High School")]
# Pena High School
pen = comp_school[(comp_school['school_name'] == "Pena High School")]
# Holden High School
hold = comp_school[(comp_school['school_name'] == "Holden High School")]

In [23]:
# Calculate per student budget

# Bailey High School
bailhs_tot = 4976
bail_budgesum = bail['budget'].sum()
bail_budget = bail_budgesum/bailhs_tot

# Johnson High School
johnhs_tot = 4761
john_budgesum = john['budget'].sum()
john_budget = john_budgesum/johnhs_tot

# Hernandez High School
hernhs_tot = 4635
hern_budgesum = hern['budget'].sum()
hern_budget = hern_budgesum/hernhs_tot

# Rodriguez High School
rodhs_tot = 3999
rod_budgesum = rod['budget'].sum()
rod_budget = rod_budgesum/rodhs_tot

# Figueroa High School
fighs_tot = 2949
fig_budgesum = fig['budget'].sum()
fig_budget = fig_budgesum/fighs_tot

# Huang High School
huahs_tot = 2917 
hua_budgesum = hua['budget'].sum()
hua_budget = hua_budgesum/huahs_tot

# Ford High School
fordhs_tot = 2739
ford_budgesum = ford['budget'].sum()
ford_budget = ford_budgesum/fordhs_tot

# Wilson High School
wilhs_tot = 2283
wil_budgesum = wil['budget'].sum()
wil_budget = wil_budgesum/wilhs_tot

# Cabrera High School
cabhs_tot = 1858
cab_budgesum = cab['budget'].sum()
cab_budget = cab_budgesum/cabhs_tot

# Wright High School
wrihs_tot = 1800
wri_budgesum = wri['budget'].sum()
wri_budget = wri_budgesum/wrihs_tot

# Shelton High School
shehs_tot = 1761
she_budgesum = she['budget'].sum()
she_budget = she_budgesum/shehs_tot

# Thomas High School
thohs_tot = 1635
tho_budgesum = tho['budget'].sum()
tho_budget = tho_budgesum/thohs_tot

# Griffin High School
grifhs_tot = 1468
grif_budgesum = grif['budget'].sum()
grif_budget = grif_budgesum/grifhs_tot

# Pena High School
penhs_tot = 962
pen_budgesum = pen['budget'].sum()
pen_budget = pen_budgesum/penhs_tot

# Holden High School
holdhs_tot = 427
hold_budgesum = hold['budget'].sum()
hold_budget = hold_budgesum/holdhs_tot

# Column Add
school_performance['Budget/Student'] = [bail_budget,john_budget,hern_budget,rod_budget,fig_budget,
                                        hua_budget,ford_budget,wil_budget,cab_budget,wri_budget,
                                        she_budget,tho_budget,grif_budget,pen_budget,hold_budget]

In [24]:
# Cacluate the avg math and reading score

# Bailey High School
bail_math_sum = bail['math_score'].sum()
bail_read_sum = bail['reading_score'].sum()
bail_mavg = bail_math_sum/bailhs_tot
bail_ravg = bail_read_sum/bailhs_tot

# Johnson High School
john_math_sum = john['math_score'].sum()
john_read_sum = john['reading_score'].sum()
john_mavg = john_math_sum/johnhs_tot
john_ravg = john_read_sum/johnhs_tot

# Hernandez High School
hern_math_sum = hern['math_score'].sum()
hern_read_sum = hern['reading_score'].sum()
hern_mavg = hern_math_sum/hernhs_tot
hern_ravg = hern_read_sum/hernhs_tot

# Rodriguez High School
rod_math_sum = rod['math_score'].sum()
rod_read_sum = rod['reading_score'].sum()
rod_mavg = rod_math_sum/rodhs_tot
rod_ravg = rod_read_sum/rodhs_tot

# Figueroa High School
fig_math_sum = fig['math_score'].sum()
fig_read_sum = fig['reading_score'].sum()
fig_mavg = fig_math_sum/fighs_tot
fig_ravg = fig_read_sum/fighs_tot

# Huang High School
hua_math_sum = hua['math_score'].sum()
hua_read_sum = hua['reading_score'].sum() 
hua_mavg = hua_math_sum/huahs_tot
hua_ravg = hua_read_sum/huahs_tot

# Ford High School
ford_math_sum = ford['math_score'].sum()
ford_read_sum = ford['reading_score'].sum()
ford_mavg = ford_math_sum/fordhs_tot
ford_ravg = ford_read_sum/fordhs_tot

# Wilson High School
wil_math_sum = wil['math_score'].sum()
wil_read_sum = wil['reading_score'].sum()
wil_mavg = wil_math_sum/wilhs_tot
wil_ravg = wil_read_sum/wilhs_tot

# Cabrera High School
cab_math_sum = cab['math_score'].sum()
cab_read_sum = cab['reading_score'].sum()
cab_mavg = cab_math_sum/cabhs_tot
cab_ravg = cab_read_sum/cabhs_tot

# Wright High School
wri_math_sum = wri['math_score'].sum()
wri_read_sum = wri['reading_score'].sum()
wri_mavg = wri_math_sum/wrihs_tot
wri_ravg = wri_read_sum/wrihs_tot

# Shelton High School
she_math_sum = she['math_score'].sum()
she_read_sum = she['reading_score'].sum()
she_mavg = she_math_sum/shehs_tot
she_ravg = she_read_sum/shehs_tot

# Thomas High School
tho_math_sum = tho['math_score'].sum()
tho_read_sum = tho['reading_score'].sum()
tho_mavg = tho_math_sum/thohs_tot
tho_ravg = tho_read_sum/thohs_tot

# Griffin High School
grif_math_sum = grif['math_score'].sum()
grif_read_sum = grif['reading_score'].sum()
grif_mavg = grif_math_sum/grifhs_tot
grif_ravg = grif_read_sum/grifhs_tot

# Pena High School
pen_math_sum = pen['math_score'].sum()
pen_read_sum = pen['reading_score'].sum()
pen_mavg = pen_math_sum/penhs_tot
pen_ravg = pen_read_sum/penhs_tot

# Holden High School
hold_math_sum = hold['math_score'].sum()
hold_read_sum = hold['reading_score'].sum()
hold_mavg = hold_math_sum/holdhs_tot
hold_ravg = hold_read_sum/holdhs_tot

# Column Add
school_performance['Math Average'] = [bail_mavg,john_mavg,hern_mavg,rod_mavg,fig_mavg,
                                      hua_mavg,ford_mavg,wil_mavg,cab_mavg,wri_mavg,
                                      she_mavg,tho_mavg,grif_mavg,pen_mavg,hold_mavg,]

school_performance['Reading Average'] = [bail_ravg,john_ravg,hern_ravg,rod_ravg,fig_ravg,
                                      hua_ravg,ford_ravg,wil_ravg,cab_ravg,wri_ravg,
                                      she_ravg,tho_ravg,grif_ravg,pen_ravg,hold_ravg,]

#### Find the passing rate for math and reading (above 70 points)

In [25]:
# Find the total counts of math result
# Find the counts for math result in each school that pass 70 or higher

# Bailey High School
bail_mpass_tot = len(bail[(bail)['math_score'] >= 70])
# Johnson High School
john_mpass_tot = len(john[(john)['math_score'] >= 70])
# Hernandez High School
hern_mpass_tot = len(hern[(hern)['math_score'] >= 70])
# Rodriguez High School
rod_mpass_tot = len(rod[(rod)['math_score'] >= 70])
# Figueroa High School
fig_mpass_tot = len(fig[(fig)['math_score'] >= 70])
# Huang High School
hua_mpass_tot = len(hua[(hua)['math_score'] >= 70])
# Ford High School
ford_mpass_tot = len(ford[(ford)['math_score'] >= 70])
# Wilson High School
wil_mpass_tot = len(wil[(wil)['math_score'] >= 70])
# Cabrera High School
cab_mpass_tot = len(cab[(cab)['math_score'] >= 70])
# Wright High School
wri_mpass_tot = len(wri[(wri)['math_score'] >= 70])
# Shelton High School
she_mpass_tot = len(she[(she)['math_score'] >= 70])
# Thomas High School
tho_mpass_tot = len(tho[(tho)['math_score'] >= 70])
# Griffin High School
grif_mpass_tot = len(grif[(grif)['math_score'] >= 70])
# Pena High School
pen_mpass_tot = len(pen[(pen)['math_score'] >= 70])
# Holden High School
hold_mpass_tot = len(hold[(hold)['math_score'] >= 70])

# Calculate the math passing rate

# Bailey High School
bail_mp = (bail_mpass_tot/bailhs_tot)*100
# Johnson High School
john_mp = (john_mpass_tot/johnhs_tot)*100
# Hernandez High School
hern_mp = (hern_mpass_tot/hernhs_tot)*100
# Rodriguez High School
rod_mp = (rod_mpass_tot/rodhs_tot)*100
# Figueroa High School
fig_mp = (fig_mpass_tot/fighs_tot)*100
# Huang High School
hua_mp = (hua_mpass_tot/huahs_tot)*100
# Ford High School
ford_mp = (ford_mpass_tot/fordhs_tot)*100
# Wilson High School
wil_mp = (wil_mpass_tot/wilhs_tot)*100
# Cabrera High School
cab_mp = (cab_mpass_tot/cabhs_tot)*100
# Wright High School
wri_mp = (wri_mpass_tot/wrihs_tot)*100
# Shelton High School
she_mp = (she_mpass_tot/shehs_tot)*100
# Thomas High School
tho_mp = (tho_mpass_tot/thohs_tot)*100
# Griffin High School
grif_mp = (grif_mpass_tot/grifhs_tot)*100
# Pena High School
pen_mp = (pen_mpass_tot/penhs_tot)*100
# Holden High School
hold_mp = (hold_mpass_tot/holdhs_tot)*100

# Column Add
school_performance['Math Pass Rate'] = [bail_mp,john_mp,hern_mp,rod_mp,fig_mp,
                                        hua_mp,ford_mp,wil_mp,cab_mp,wri_mp,
                                        she_mp,tho_mp,grif_mp,pen_mp,hold_mp]

In [26]:
# Find the total counts of read result
# Find the counts for read result in each school that pass 70 or higher

# Bailey
bail_rpass_tot = len(bail[(bail)['reading_score'] >= 70])
# Johnson High School
john_rpass_tot = len(john[(john)['reading_score'] >= 70])
# Hernandez High School
hern_rpass_tot = len(hern[(hern)['reading_score'] >= 70])
# Rodriguez High School
rod_rpass_tot = len(rod[(rod)['reading_score'] >= 70])
# Figueroa High School
fig_rpass_tot = len(fig[(fig)['reading_score'] >= 70])
# Huang High School
hua_rpass_tot = len(hua[(hua)['reading_score'] >= 70])
# Ford High School
ford_rpass_tot = len(ford[(ford)['reading_score'] >= 70])
# Wilson High School
wil_rpass_tot = len(wil[(wil)['reading_score'] >= 70])
# Cabrera High School
cab_rpass_tot = len(cab[(cab)['reading_score'] >= 70])
# Wright High School
wri_rpass_tot = len(wri[(wri)['reading_score'] >= 70])
# Shelton High School
she_rpass_tot = len(she[(she)['reading_score'] >= 70])
# Thomas High School
tho_rpass_tot = len(tho[(tho)['reading_score'] >= 70])
# Griffin High School
grif_rpass_tot = len(grif[(grif)['reading_score'] >= 70])
# Pena High School
pen_rpass_tot = len(pen[(pen)['reading_score'] >= 70])
# Holden High School
hold_rpass_tot = len(hold[(hold)['reading_score'] >= 70])

# Calculate the read passing rate

# Bailey High School
bail_rp = (bail_rpass_tot/bailhs_tot)*100
# Johnson High School
john_rp = (john_rpass_tot/johnhs_tot)*100
# Hernandez High School
hern_rp = (hern_rpass_tot/hernhs_tot)*100
# Rodriguez High School
rod_rp = (rod_rpass_tot/rodhs_tot)*100
# Figueroa High School
fig_rp = (fig_rpass_tot/fighs_tot)*100
# Huang High School
hua_rp = (hua_rpass_tot/huahs_tot)*100
# Ford High School
ford_rp = (ford_rpass_tot/fordhs_tot)*100
# Wilson High School
wil_rp = (wil_rpass_tot/wilhs_tot)*100
# Cabrera High School
cab_rp = (cab_rpass_tot/cabhs_tot)*100
# Wright High School
wri_rp = (wri_rpass_tot/wrihs_tot)*100
# Shelton High School
she_rp = (she_rpass_tot/shehs_tot)*100
# Thomas High School
tho_rp = (tho_rpass_tot/thohs_tot)*100
# Griffin High School
grif_rp = (grif_rpass_tot/grifhs_tot)*100
# Pena High School
pen_rp = (pen_rpass_tot/penhs_tot)*100
# Holden High School
hold_rp = (hold_rpass_tot/holdhs_tot)*100

# Column Add
school_performance['Reading Passing Rate'] = [bail_rp,john_rp,hern_rp,rod_rp,fig_rp,
                                              hua_rp,ford_rp,wil_rp,cab_rp,wri_rp,
                                              she_rp,tho_rp,grif_rp,pen_rp,hold_rp]

In [27]:
# Calculate the overall passing rate (average of the math and reading passing rate)

# Bailey
bail_overall = (bail_mp + bail_rp)/2
# Johnson
john_overall = (john_mp + john_rp)/2
# Hernandez
hern_overall = (hern_mp + hern_rp)/2
# Rodriguez
rod_overall = (rod_mp + rod_rp)/2
# Figueroa
fig_overall = (fig_mp + fig_rp)/2
# Huang High School
hua_overall = (hua_mp + hua_rp)/2
# Ford High School
ford_overall = (ford_mp + ford_rp)/2
# Wilson High School
wil_overall = (wil_mp + wil_rp)/2
# Cabrera High School
cab_overall = (cab_mp + cab_rp)/2
# Wright High School
wri_overall = (wri_mp + wri_rp)/2
# Shelton High School
she_overall = (she_mp + she_rp)/2
# Thomas High School
tho_overall = (tho_mp + tho_rp)/2
# Griffin High School
grif_overall = (grif_mp + grif_rp)/2
# Pena High School
pen_overall = (pen_mp + pen_rp)/2
# Holden High School
hold_overall = (hold_mp + hold_rp)/2

# Column Add
school_performance['Overall Passing Rate'] = [bail_overall,john_overall,hern_overall,rod_overall,
                                              fig_overall,hua_overall,ford_overall,wil_overall,
                                              cab_overall,wri_overall,she_overall,tho_overall,
                                              grif_overall,pen_overall,hold_overall]

In [28]:
school_performance.sort_values(by = "Overall Passing Rate", ascending = False).head()

,High School,Budget/Student,Math Average,Reading Average,Math Pass Rate,Reading Passing Rate,Overall Passing Rate
8,Cabrera,1081356.0,83.061895,83.975780,94.133477,97.039828,95.586652
11,Thomas,1043130.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Pena,585858.0,83.839917,84.044699,94.594595,95.945946,95.270270
12,Griffin,917500.0,83.351499,83.816757,93.392371,97.138965,95.265668
7,Wilson,1319574.0,83.274201,83.989488,93.867718,96.539641,95.203679

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [29]:
#  Sort and display the worst five schools in overall passing rate

school_performance.sort_values(by = "Overall Passing Rate").head()

,High School,Budget/Student,Math Average,Reading Average,Math Pass Rate,Reading Passing Rate,Overall Passing Rate
3,Rodriguez,2547363.0,76.842711,80.744686,66.366592,80.220055,73.293323
4,Figueroa,1884411.0,76.711767,81.158020,65.988471,80.739234,73.363852
5,Huang,1910635.0,76.629414,81.182722,65.683922,81.316421,73.500171
1,Johnson,3094650.0,77.072464,80.966394,66.057551,81.222432,73.639992
6,Ford,1763916.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [40]:
# Create table that lists the average math score for each school of each grade level.

school_grade = pd.DataFrame()
school_grade['High School Grade'] = ['Bailey 9th', 'Bailey 10th', 'Bailey 11th', 'Bailey 12th',
                               'Johnson 9th', 'Johnson 10th', 'Johnson 11th', 'Johnson 12th',
                               'Hernandez 9th', 'Hernandez 10th', 'Hernandez 11th', 'Hernandez 12th',
                               'Rodriguez 9th', 'Rodriguez 10th', 'Rodriguez 11th', 'Rodriguez 12th',
                               'Figueroa 9th', 'Figueroa 10th', 'Figueroa 11th', 'Figueroa 12th',
                               'Huang 9th', 'Huang 10th', 'Huang 11th', 'Huang 12th',
                               'Ford 9th', 'Ford 10th', 'Ford 11th', 'Ford 12th',
                               'Wilson 9th', 'Wilson 10th', 'Wilson 11th', 'Wilson 12th',
                               'Cabrera 9th', 'Cabrera 10th', 'Cabrera 11th', 'Cabrera 12th',
                               'Wright 9th', 'Wright 10th', 'Wright 11th', 'Wright 12th',
                               'Shelton 9th', 'Shelton 10th', 'Shelton 11th', 'Shelton 12th',
                               'Thomas 9th', 'Thomas 10th', 'Thomas 11th', 'Thomas 12th', 
                               'Griffin 9th', 'Griffin 10th', 'Griffin 11th', 'Griffin 12th',
                               'Pena 9th', 'Pena 10th', 'Pena 11th', 'Pena 12th', 
                               'Holden 9th', 'Holden 10th', 'Holden 11th', 'Holden 12th']
# Bailey
bail9 = bail[(bail['grade'] == "9th")]
bail10 = bail[(bail['grade'] == "10th")]
bail11 = bail[(bail['grade'] == "11th")]
bail12 = bail[(bail['grade'] == "12th")]
# Johnson
john9 = john[(john['grade'] == "9th")]
john10 = john[(john['grade'] == "10th")]
john11 = john[(john['grade'] == "11th")]
john12 = john[(john['grade'] == "12th")]
# Hernandez
hern9 = hern[(hern['grade'] == "9th")]
hern10 = hern[(hern['grade'] == "10th")]
hern11 = hern[(hern['grade'] == "11th")]
hern12 = hern[(hern['grade'] == "12th")]
# Rodriguez
rod9 = rod[(rod['grade'] == "9th")]
rod10 = rod[(rod['grade'] == "10th")]
rod11 = rod[(rod['grade'] == "11th")]
rod12 = rod[(rod['grade'] == "12th")]
# Figueroa
fig9 = fig[(fig['grade'] == "9th")]
fig10 = fig[(fig['grade'] == "10th")]
fig11 = fig[(fig['grade'] == "11th")]
fig12 = fig[(fig['grade'] == "12th")]
# Huang
hua9 = hua[(hua['grade'] == "9th")]
hua10 = hua[(hua['grade'] == "10th")]
hua11 = hua[(hua['grade'] == "11th")]
hua12 = hua[(hua['grade'] == "12th")]
# Ford
ford9 = ford[(ford['grade'] == "9th")]
ford10 = ford[(ford['grade'] == "10th")]
ford11 = ford[(ford['grade'] == "11th")]
ford12 = ford[(ford['grade'] == "12th")]
# Wilson
wil9 = wil[(wil['grade'] == "9th")]
wil10 = wil[(wil['grade'] == "10th")]
wil11 = wil[(wil['grade'] == "11th")]
wil12 = wil[(wil['grade'] == "12th")]
# Cabrera
cab9 = cab[(cab['grade'] == "9th")]
cab10 = cab[(cab['grade'] == "10th")]
cab11 = cab[(cab['grade'] == "11th")]
cab12 = cab[(cab['grade'] == "12th")]
# Wright
wri9 = wri[(wri['grade'] == "9th")]
wri10 = wri[(wri['grade'] == "10th")]
wri11 = wri[(wri['grade'] == "11th")]
wri12 = wri[(wri['grade'] == "12th")]
# Shelton
she9 = she[(she['grade'] == "9th")]
she10 = she[(she['grade'] == "10th")]
she11 = she[(she['grade'] == "11th")]
she12 = she[(she['grade'] == "12th")]
# Thomas
tho9 = tho[(tho['grade'] == "9th")]
tho10 = tho[(tho['grade'] == "10th")]
tho11 = tho[(tho['grade'] == "11th")]
tho12 = tho[(tho['grade'] == "12th")]
# Griffin
grif9 = grif[(grif['grade'] == "9th")]
grif10 = grif[(grif['grade'] == "10th")]
grif11 = grif[(grif['grade'] == "11th")]
john12 = grif[(grif['grade'] == "12th")]
# Pena
pen9 = pen[(pen['grade'] == "9th")]
pen10 = pen[(pen['grade'] == "10th")]
pen11 = pen[(pen['grade'] == "11th")]
pen12 = pen[(pen['grade'] == "12th")]
# Holden
hold9 = hold[(hold['grade'] == "9th")]
hold10 = hold[(hold['grade'] == "10th")]
hold11 = hold[(hold['grade'] == "11th")]
hold12 = hold[(hold['grade'] == "12th")]

In [ ]:
# Calculate the average math score for 9th grade in each school

# Bailey
bail9_msum = bail9['math_score'].sum() 
bail9_tot = len(bail9)
bail9_mavg = bail9_msum/bail9_tot
# Johnson
john9_msum = john9['math_score'].sum()
john9_tot = len(john9)
john9_mavg = john9_msum/john9_tot
# Hernandez
hern9_msum = hern9['math_score'].sum()
hern9_tot = len(hern9)
hern9_mavg = hern9_msum/hern9_tot
# Rodriguez
rod9_msum = rod9['math_score'].sum()
rod9_tot = len(rod9)
rod9_mavg = rod9_msum/rod9_tot
# Figueroa
fig9_mavg = fig9_msum/fig9_tot
# Huang
hua9_mavg = hua9_msum/hua9_tot
# Ford
ford9_mavg = ford9_msum/ford9_tot
# Wilson
wil9_mavg = wil9_msum/wil9_tot
# Cabrera
cab9_mavg = cab9_msum/cab9_tot
# Wright
wri9_mavg = wri9_msum/wri9_tot
# Shelton
she9_mavg = she9_msum/she9_tot
# Thomas
tho9_mavg = tho9_msum/tho9_tot
# Griffin
grif9_mavg = grif9_msum/grif9_tot
# Pena
pen9_mavg = pen9_msum/pen9_tot
# Holden
hold9_mavg = hold9_msum/hold9_tot

# Column Add
school_grade['9th Grade Math Avg'] = []

In [ ]:
# Calculate the average math score for 10th grade in each school

# Bailey
# Johnson
# Hernandez
# Rodriguez
# Figueroa
# Huang
# Ford
# Wilson
# Cabrera
# Wright
# Shelton
# Thomas
# Griffin
# Pena
# Holden

In [ ]:
# Calculate the average math score for 11th grade in each school

# Bailey
# Johnson
# Hernandez
# Rodriguez
# Figueroa
# Huang
# Ford
# Wilson
# Cabrera
# Wright
# Shelton
# Thomas
# Griffin
# Pena
# Holden

In [ ]:
# Calculate the average math score for 12th grade in each school

# Bailey
# Johnson
# Hernandez
# Rodriguez
# Figueroa
# Huang
# Ford
# Wilson
# Cabrera
# Wright
# Shelton
# Thomas
# Griffin
# Pena
# Holden

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate