# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a District Summary
comp_school = school_data_complete
comp_school.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [39]:
comp_school.keys()

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [11]:
# Total number of schools
comp_school['school_name'].value_counts()
print("Total number of schools: 15")

Total number of schools: 15

In [30]:
# Total number of students
comp_school['gender'].value_counts()
student_sum = 19735 + 19435
print("Total number of students: " + str(student_sum))

Total number of students: 39170

In [81]:
# Total budget
tot_budget = comp_school['budget'].sum()
print("Total budget: " + str(tot_budget))

Total budget: 82932329558

In [82]:
# Average math score
math_avg = comp_school['math_score'].mean()
print("Average math score: " + str(math_avg))

Average math score: 78.98537145774827

In [71]:
# Average reading score
read_avg = comp_school['reading_score'].mean()
print("Average reading score: " + str(read_avg))

Average reading score: 81.878

In [73]:
# Overall average score
math = comp_school['math_score'].mean()
read = comp_school['reading_score'].mean()
overall_avg = (math + read)/2
print("Overall average score: " + str(overall_avg))

Overall average score: 80.432

In [39]:
# Percentage of passing math (70 or greater)
comp_school[(comp_school)['math_score'] >= 70]
percent_pass = (29370/student_sum)*100
print("The percentage of passing math with a 70 or higher is " + str(percent_pass))

The percentage of passing math with a 70 or higher is 74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [19]:
#  Sort and display the top five schools in overall passing rate
comp_school['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [44]:
# Calculate total school budget

# Bailey High School
# Johnson High School
# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

In [ ]:
# Calculate per student budget

# Bailey High School
# Johnson High School
# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

In [ ]:
# Cacluate the avg math and reading score

# Bailey High School
# Johnson High School
# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

#### Find the passing rate for math and reading (above 70 points)

In [65]:
# Find the total counts of math result
# Find the counts for math result in each school that pass 70 or higher

# Bailey High School
bailhs_tot = 4976
bail = comp_school[(comp_school['school_name'] == "Bailey High School")]
bail_mpass_tot = len(bail[(bail)['math_score'] >= 70])

# Johnson High School
johnhs_tot = 4761
john = comp_school[(comp_school['school_name'] == "Johnson High School")]
john_mpass_tot = len(john[(john)['math_score'] >= 70])

# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

# Calculate the math passing rate

# Bailey High School
bail_mp = (bail_mpass_tot/bailhs_tot)*100
print("The math average score of Bailey High School is " + str(bail_mp))

# Johnson High School
john_mp = (john_mpass_tot/johnhs_tot)*100
print("The math average score of Johnson High School is " + str(john_mp))

# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

The math average score of Bailey High School is 66.68006430868168
The math average score of Johnson High School is 66.0575509346776

In [63]:
# Find the total counts of read result
# Find the counts for read result in each school that pass 70 or higher

# Bailey
bail_rpass_tot = len(bail[(bail)['reading_score'] >= 70])
print("The  Bailey High School count of those who passed reading is " + str(bail_mpass_tot))

# Johnson High School

# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

# Calculate the read passing rate

# Bailey High School
bail_rp = (bail_rpass_tot/bailhs_tot)*100
print("The reading average score of Bailey High School is " + str(bail_rp))

# Johnson High School

john[(john)['reading_score'] >= 70]
john_rpass_tot = 3867
john_rp = (john_rpass_tot/johnhs_tot)*100

# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

The  Bailey High School count of those who passed reading is 3318
The reading average score of Bailey High School is 81.93327974276528

In [57]:
# Calculate the overall passing rate (average of the math and reading passing rate)

# Bailey
bail_overall = (bail_mp + bail_rp)/2
print("The overall average score of Bailey High School is " + str(bail_overall))

# Johnson
john_overall = (john_mp + john_rp)/2
print("The overall average score of Johnson High School is " + str(john_overall))

# Hernandez
hernhs_tot = 4635
hern = comp_school[(comp_school['school_name'] == "Hernandez High School")]
hern[(hern)['math_score'] >= 70]
hern_mpass_tot = 3094
hern_mp = (hern_mpass_tot/hernhs_tot)*100
hern[(hern)['reading_score'] >= 70]
hern_rpass_tot = 3748
hern_rp = (hern_rpass_tot/hernhs_tot)*100
hern_overall = (hern_mp + hern_rp)/2
print("The overall average score of Hernandez High School is " + str(hern_overall))

# Rodriguez
rodhs_tot = 3999
rod = comp_school[(comp_school['school_name'] == "Rodriguez High School")]
rod[(rod)['math_score'] >= 70]
rod_mpass_tot = 2654
rod_mp = (rod_mpass_tot/rodhs_tot)*100
rod[(rod)['reading_score'] >= 70]
rod_rpass_tot = 3208
rod_rp = (rod_rpass_tot/rodhs_tot)*100
rod_overall = (rod_mp + rod_rp)/2
print("The overall average score of Rodriguez High School is " + str(rod_overall))

# Figueroa
fighs_tot = 2949

The overall average score of Bailey High School is 74.30667202572349
The overall average score of Johnson High School is 73.6399915984037
The overall average score of Hernandez High School is 73.80798274002157
The overall average score of Rodriguez High School is 73.2933233308327

In [ ]:


# Huang
huahs_tot = 2917

# Ford
fordhs_tot = 2739

# Wilson
wilhs_tot = 2283

# Cabrera
cabhs_tot = 1858

# Wright
wrihs_tot = 1800

In [ ]:
# Shelton
Shehs_tot = 1761

# Thomas
thohs_tot = 1635

# Griffin
grifhs_tot = 1468

# Pena
penhs_tot = 962

# Holden
holhs_tot = 427

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#  Sort and display the worst five schools in overall passing rate

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# Create table that lists the average math score for each school of each grade level.

In [ ]:
# Calculate the average math score for 9th grade in each school

In [ ]:
# Calculate the average math score for 10th grade in each school

In [ ]:
# Calculate the average math score for 11th grade in each school

In [ ]:
# Calculate the average math score for 12th grade in each school

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate