# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a District Summary
comp_school = school_data_complete
comp_school.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [39]:
comp_school.keys()

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [11]:
# Total number of schools
comp_school['school_name'].value_counts()
print("Total number of schools: 15")

Total number of schools: 15

In [30]:
# Total number of students
comp_school['gender'].value_counts()
student_sum = 19735 + 19435
print("Total number of students: " + str(student_sum))

Total number of students: 39170

In [81]:
# Total budget
tot_budget = comp_school['budget'].sum()
print("Total budget: " + str(tot_budget))

Total budget: 82932329558

In [82]:
# Average math score
math_avg = comp_school['math_score'].mean()
print("Average math score: " + str(math_avg))

Average math score: 78.98537145774827

In [71]:
# Average reading score
read_avg = comp_school['reading_score'].mean()
print("Average reading score: " + str(read_avg))

Average reading score: 81.878

In [73]:
# Overall average score
math = comp_school['math_score'].mean()
read = comp_school['reading_score'].mean()
overall_avg = (math + read)/2
print("Overall average score: " + str(overall_avg))

Overall average score: 80.432

In [83]:
# Percentage of passing math (70 or greater)
comp_school[(comp_school)['math_score'] >= 70]
mpercent_pass = (29370/student_sum)*100
print("The percentage of passing math with a 70 or higher is " + str(mpercent_pass))

The percentage of passing math with a 70 or higher is 74.9808526933878

In [84]:
# Percentage of passing reading (70 or greater)
comp_school[(comp_school)['reading_score'] >= 70]
rpercent_pass = (33610/student_sum)*100
print("The percentage of passing reading with a 70 or higher is " + str(rpercent_pass))

The percentage of passing reading with a 70 or higher is 85.80546336482001

In [89]:
district = [['Number of Schools',15],
        ['Number of Students',39170],
        ['Total Budget',82932329558],
        ['Math Average',78.98537145774827],
        ['Reading Average',81.878],
        ['Overall Average',80.432],
        ['Math Pass Percentage',74.9808526933878],
        ['Reading Pass Percentage',85.80546336482001]]
district_summary = pd.DataFrame(district, columns = ['Item','Value'])
district_summary

                      Item         Value
0        Number of Schools  1.500000e+01
1       Number of Students  3.917000e+04
2             Total Budget  8.293233e+10
3             Math Average  7.898537e+01
4          Reading Average  8.187800e+01
5          Overall Average  8.043200e+01
6     Math Pass Percentage  7.498085e+01
7  Reading Pass Percentage  8.580546e+01

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [19]:
#  Sort and display the top five schools in overall passing rate
comp_school['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [67]:
# Calculate total school budget

# Bailey High School
bail = comp_school[(comp_school['school_name'] == "Bailey High School")]
# Johnson High School
john = comp_school[(comp_school['school_name'] == "Johnson High School")]
# Hernandez High School
hern = comp_school[(comp_school['school_name'] == "Hernandez High School")]
# Rodriguez High School
rod = comp_school[(comp_school['school_name'] == "Rodriguez High School")]
# Figueroa High School
fig = comp_school[(comp_school['school_name'] == "Figueroa High School")]
# Huang High School
hua = comp_school[(comp_school['school_name'] == "Huang High School")]
# Ford High School
ford = comp_school[(comp_school['school_name'] == "Ford High School")]
# Wilson High School
wil = comp_school[(comp_school['school_name'] == "Wilson High School")]
# Cabrera High School
cab = comp_school[(comp_school['school_name'] == "Cabrera High School")]
# Wright High School
wri = comp_school[(comp_school['school_name'] == "Wright High School")]
# Shelton High School
she = comp_school[(comp_school['school_name'] == "Shelton High School")]
# Thomas High School
tho = comp_school[(comp_school['school_name'] == "Thomas High School")]
# Griffin High School
grif = comp_school[(comp_school['school_name'] == "Griffin High School")]
# Pena High School
pen = comp_school[(comp_school['school_name'] == "Pena High School")]
# Holden High School
hold = comp_school[(comp_school['school_name'] == "Holden High School")]

In [ ]:
# Calculate per student budget

# Bailey High School
# Johnson High School
# Hernandez High School
# Rodriguez High School
# Figueroa High School
# Huang High School
# Ford High School
# Wilson High School
# Cabrera High School
# Wright High School
# Shelton High School
# Thomas High School
# Griffin High School
# Pena High School
# Holden High School

In [74]:
# Cacluate the avg math and reading score

# Bailey High School
bail_math_sum = bail['math_score'].sum()
bail_read_sum = bail['reading_score'].sum()
bailhs_tot = 4976
bail_mavg = bail_math_sum/bailhs_tot
bail_ravg = bail_read_sum/bailhs_tot
print("The Bailey High School's math average is " + str(bail_mavg) + ", and reading average is " + str(bail_ravg))

# Johnson High School
john_math_sum = john['math_score'].sum()
john_read_sum = john['reading_score'].sum()
johnhs_tot = 4761
john_mavg = john_math_sum/johnhs_tot
john_ravg = john_read_sum/johnhs_tot
print("The Johnson High School's math average is " + str(john_mavg) + ", and reading average is " + str(john_ravg))

# Hernandez High School
hern_math_sum = hern['math_score'].sum()
hern_read_sum = hern['reading_score'].sum()
hernhs_tot = 4635
hern_mavg = hern_math_sum/hernhs_tot
hern_ravg = hern_read_sum/hernhs_tot
print("The Hernandez High School's math average is " + str(hern_mavg) + ", and reading average is " + str(hern_ravg))

# Rodriguez High School
rod_math_sum = rod['math_score'].sum()
rod_read_sum = rod['reading_score'].sum()
rodhs_tot = 3999
rod_mavg = rod_math_sum/rodhs_tot
rod_ravg = rod_read_sum/rodhs_tot
print("The Rodriguez High School's math average is " + str(rod_mavg) + ", and reading average is " + str(rod_ravg))

# Figueroa High School
fig_math_sum = fig['math_score'].sum()
fig_read_sum = fig['reading_score'].sum()
fighs_tot = 2949
fig_mavg = fig_math_sum/fighs_tot
fig_ravg = fig_read_sum/fighs_tot
print("The Figeroa High School's math average is " + str(fig_mavg) + ", and reading average is " + str(fig_ravg))

# Huang High School
hua_math_sum = hua['math_score'].sum()
hua_read_sum = hua['reading_score'].sum()
huahs_tot = 2917  
hua_mavg = hua_math_sum/huahs_tot
hua_ravg = hua_read_sum/huahs_tot
print("The Huang High School's math average is " + str(hua_mavg) + ", and reading average is " + str(hua_ravg))

# Ford High School
ford_math_sum = ford['math_score'].sum()
ford_read_sum = ford['reading_score'].sum()
fordhs_tot = 2739
ford_mavg = ford_math_sum/fordhs_tot
ford_ravg = ford_read_sum/fordhs_tot
print("The Ford High School's math average is " + str(ford_mavg) + ", and reading average is " + str(ford_ravg))

# Wilson High School
wil_math_sum = wil['math_score'].sum()
wil_read_sum = wil['reading_score'].sum()
wilhs_tot = 2283
wil_mavg = wil_math_sum/wilhs_tot
wil_ravg = wil_read_sum/wilhs_tot
print("The Wilson High School's math average is " + str(wil_mavg) + ", and reading average is " + str(wil_ravg))

# Cabrera High School
cab_math_sum = cab['math_score'].sum()
cab_read_sum = cab['reading_score'].sum()
cabhs_tot = 1858
cab_mavg = cab_math_sum/cabhs_tot
cab_ravg = cab_read_sum/cabhs_tot
print("The Cabrera High School's math average is " + str(cab_mavg) + ", and reading average is " + str(cab_ravg))

# Wright High School
wri_math_sum = wri['math_score'].sum()
wri_read_sum = wri['reading_score'].sum()
wrihs_tot = 1800
wri_mavg = wri_math_sum/wrihs_tot
wri_ravg = wri_read_sum/wrihs_tot
print("The Wright High School's math average is " + str(wri_mavg) + ", and reading average is " + str(wri_ravg))

# Shelton High School
she_math_sum = she['math_score'].sum()
she_read_sum = she['reading_score'].sum()
shehs_tot = 1761
she_mavg = she_math_sum/shehs_tot
she_ravg = she_read_sum/shehs_tot
print("The Shelton High School's math average is " + str(she_mavg) + ", and reading average is " + str(she_ravg))

# Thomas High School
tho_math_sum = tho['math_score'].sum()
tho_read_sum = tho['reading_score'].sum()
thohs_tot = 1635
tho_mavg = tho_math_sum/thohs_tot
tho_ravg = tho_read_sum/thohs_tot
print("The Thomas High School's math average is " + str(tho_mavg) + ", and reading average is " + str(tho_ravg))

# Griffin High School
grif_math_sum = grif['math_score'].sum()
grif_read_sum = grif['reading_score'].sum()
grifhs_tot = 1468
grif_mavg = grif_math_sum/grifhs_tot
grif_ravg = grif_read_sum/grifhs_tot
print("The Griffin High School's math average is " + str(grif_mavg) + ", and reading average is " + str(grif_ravg))

# Pena High School
pen_math_sum = pen['math_score'].sum()
pen_read_sum = pen['reading_score'].sum()
penhs_tot = 962
pen_mavg = pen_math_sum/penhs_tot
pen_ravg = pen_read_sum/penhs_tot
print("The Pena High School's math average is " + str(pen_mavg) + ", and reading average is " + str(pen_ravg))

# Holden High School
hold_math_sum = hold['math_score'].sum()
hold_read_sum = hold['reading_score'].sum()
holdhs_tot = 427
hold_mavg = hold_math_sum/holdhs_tot
hold_ravg = hold_read_sum/holdhs_tot
print("The Holden High School's math average is " + str(hold_mavg) + ", and reading average is " + str(hold_ravg))

The Bailey High School's math average is 77.04843247588424, and reading average is 81.03396302250803
The Johnson High School's math average is 77.07246376811594, and reading average is 80.96639361478681
The Hernandez High School's math average is 77.28975188781014, and reading average is 80.9344120819849
The Rodriguez High School's math average is 76.84271067766942, and reading average is 80.74468617154288
The Figeroa High School's math average is 76.71176670057646, and reading average is 81.15801966768396
The Huang High School's math average is 76.62941378128214, and reading average is 81.18272197463148
The Ford High School's math average is 77.10259218692954, and reading average is 80.74625775830594
The Wilson High School's math average is 83.2742006132282, and reading average is 83.98948751642575
The Cabrera High School's math average is 83.06189451022605, and reading average is 83.97578040904197
The Wright High School's math average is 83.68222222222222, and reading average is 83.955
The Shelton High School's math average is 83.3594548551959, and reading average is 83.72572402044293
The Thomas High School's math average is 83.4183486238532, and reading average is 83.84892966360856
The Griffin High School's math average is 83.35149863760218, and reading average is 83.816757493188
The Pena High School's math average is 83.83991683991684, and reading average is 84.04469854469855
The Holden High School's math average is 83.80327868852459, and reading average is 83.81498829039812

#### Find the passing rate for math and reading (above 70 points)

In [81]:
# Find the total counts of math result
# Find the counts for math result in each school that pass 70 or higher

# Bailey High School
bail_mpass_tot = len(bail[(bail)['math_score'] >= 70])
# Johnson High School
john_mpass_tot = len(john[(john)['math_score'] >= 70])
# Hernandez High School
hern_mpass_tot = len(hern[(hern)['math_score'] >= 70])
# Rodriguez High School
rod_mpass_tot = len(rod[(rod)['math_score'] >= 70])
# Figueroa High School
fig_mpass_tot = len(fig[(fig)['math_score'] >= 70])
# Huang High School
hua_mpass_tot = len(hua[(hua)['math_score'] >= 70])
# Ford High School
ford_mpass_tot = len(ford[(ford)['math_score'] >= 70])
# Wilson High School
wil_mpass_tot = len(wil[(wil)['math_score'] >= 70])
# Cabrera High School
cab_mpass_tot = len(cab[(cab)['math_score'] >= 70])
# Wright High School
wri_mpass_tot = len(wri[(wri)['math_score'] >= 70])
# Shelton High School
she_mpass_tot = len(she[(she)['math_score'] >= 70])
# Thomas High School
tho_mpass_tot = len(tho[(tho)['math_score'] >= 70])
# Griffin High School
grif_mpass_tot = len(grif[(grif)['math_score'] >= 70])
# Pena High School
pen_mpass_tot = len(pen[(pen)['math_score'] >= 70])
# Holden High School
hold_mpass_tot = len(hold[(hold)['math_score'] >= 70])

# Calculate the math passing rate

# Bailey High School
bail_mp = (bail_mpass_tot/bailhs_tot)*100
print("The math passing rate of Bailey High School is " + str(bail_mp))
# Johnson High School
john_mp = (john_mpass_tot/johnhs_tot)*100
print("The math passing rate of Johnson High School is " + str(john_mp))
# Hernandez High School
hern_mp = (hern_mpass_tot/hernhs_tot)*100
print("The math passing rate of Hernandez High School is " + str(hern_mp))
# Rodriguez High School
rod_mp = (rod_mpass_tot/rodhs_tot)*100
print("The math passing rate of Rodriguez High School is " + str(rod_mp))
# Figueroa High School
fig_mp = (fig_mpass_tot/fighs_tot)*100
print("The math passing rate of Figueroa High School is " + str(fig_mp))
# Huang High School
hua_mp = (hua_mpass_tot/huahs_tot)*100
print("The math passing rate of Huang High School is " + str(hua_mp))
# Ford High School
ford_mp = (ford_mpass_tot/fordhs_tot)*100
print("The math passing rate of Ford High School is " + str(ford_mp))
# Wilson High School
wil_mp = (wil_mpass_tot/wilhs_tot)*100
print("The math passing rate of Wilson High School is " + str(wil_mp))
# Cabrera High School
cab_mp = (cab_mpass_tot/cabhs_tot)*100
print("The math passing rate of Cabrera High School is " + str(cab_mp))
# Wright High School
wri_mp = (wri_mpass_tot/wrihs_tot)*100
print("The math passing rate of Wright High School is " + str(wri_mp))
# Shelton High School
she_mp = (she_mpass_tot/shehs_tot)*100
print("The math passing rate of Shelton High School is " + str(she_mp))
# Thomas High School
tho_mp = (tho_mpass_tot/thohs_tot)*100
print("The math passing rate of Thomas High School is " + str(tho_mp))
# Griffin High School
grif_mp = (grif_mpass_tot/grifhs_tot)*100
print("The math passing rate of Griffin High School is " + str(grif_mp))
# Pena High School
pen_mp = (pen_mpass_tot/penhs_tot)*100
print("The math passing rate of Pena High School is " + str(pen_mp))
# Holden High School
hold_mp = (hold_mpass_tot/holdhs_tot)*100
print("The math passing rate of Holden High School is " + str(hold_mp))

The math passing rate of Bailey High School is 66.68006430868168
The math passing rate of Johnson High School is 66.0575509346776
The math passing rate of Hernandez High School is 66.7529665587918
The math passing rate of Rodriguez High School is 66.36659164791197
The math passing rate of Figueroa High School is 65.98847066802306
The math passing rate of Huang High School is 65.68392183750429
The math passing rate of Ford High School is 68.3096020445418
The math passing rate of Wilson High School is 93.8677179150241
The math passing rate of Cabrera High School is 94.1334768568353
The math passing rate of Wright High School is 93.33333333333333
The math passing rate of Shelton High School is 93.8671209540034
The math passing rate of Thomas High School is 93.27217125382263
The math passing rate of Griffin High School is 93.39237057220708
The math passing rate of Pena High School is 94.5945945945946
The math passing rate of Holden High School is 92.50585480093677

In [80]:
# Find the total counts of read result
# Find the counts for read result in each school that pass 70 or higher

# Bailey
bail_rpass_tot = len(bail[(bail)['reading_score'] >= 70])
# Johnson High School
john_rpass_tot = len(john[(john)['reading_score'] >= 70])
# Hernandez High School
hern_rpass_tot = len(hern[(hern)['reading_score'] >= 70])
# Rodriguez High School
rod_rpass_tot = len(rod[(rod)['reading_score'] >= 70])
# Figueroa High School
fig_rpass_tot = len(fig[(fig)['reading_score'] >= 70])
# Huang High School
hua_rpass_tot = len(hua[(hua)['reading_score'] >= 70])
# Ford High School
ford_rpass_tot = len(ford[(ford)['reading_score'] >= 70])
# Wilson High School
wil_rpass_tot = len(wil[(wil)['reading_score'] >= 70])
# Cabrera High School
cab_rpass_tot = len(cab[(cab)['reading_score'] >= 70])
# Wright High School
wri_rpass_tot = len(wri[(wri)['reading_score'] >= 70])
# Shelton High School
she_rpass_tot = len(she[(she)['reading_score'] >= 70])
# Thomas High School
tho_rpass_tot = len(tho[(tho)['reading_score'] >= 70])
# Griffin High School
grif_rpass_tot = len(grif[(grif)['reading_score'] >= 70])
# Pena High School
pen_rpass_tot = len(pen[(pen)['reading_score'] >= 70])
# Holden High School
hold_rpass_tot = len(hold[(hold)['reading_score'] >= 70])

# Calculate the read passing rate

# Bailey High School
bail_rp = (bail_rpass_tot/bailhs_tot)*100
print("The reading passing rate of Bailey High School is " + str(bail_rp))
# Johnson High School
john_rp = (john_rpass_tot/johnhs_tot)*100
print("The reading passing rate of Johnson High School is " + str(john_rp))
# Hernandez High School
hern_rp = (hern_rpass_tot/hernhs_tot)*100
print("The reading passing rate of Hernandez High School is " + str(hern_rp))
# Rodriguez High School
rod_rp = (rod_rpass_tot/rodhs_tot)*100
print("The reading passing rate of Rodriguez High School is " + str(rod_rp))
# Figueroa High School
fig_rp = (fig_rpass_tot/fighs_tot)*100
print("The reading passing rate of Figueroa High School is " + str(fig_mp))
# Huang High School
hua_rp = (hua_rpass_tot/huahs_tot)*100
print("The reading passing rate of Huang High School is " + str(hua_rp))
# Ford High School
ford_rp = (ford_rpass_tot/fordhs_tot)*100
print("The reading passing rate of Ford High School is " + str(ford_rp))
# Wilson High School
wil_rp = (wil_rpass_tot/wilhs_tot)*100
print("The reading passing rate of Wilson High School is " + str(wil_rp))
# Cabrera High School
cab_rp = (cab_rpass_tot/cabhs_tot)*100
print("The reading passing rate of Cabrera High School is " + str(cab_rp))
# Wright High School
wri_rp = (wri_rpass_tot/wrihs_tot)*100
print("The reading passing rate of Wright High School is " + str(wri_rp))
# Shelton High School
she_rp = (she_rpass_tot/shehs_tot)*100
print("The reading passing rate of Shelton High School is " + str(she_rp))
# Thomas High School
tho_rp = (tho_rpass_tot/thohs_tot)*100
print("The reading passing rate of Thomas High School is " + str(tho_rp))
# Griffin High School
grif_rp = (grif_rpass_tot/grifhs_tot)*100
print("The reading passing rate of Griffin High School is " + str(grif_rp))
# Pena High School
pen_rp = (pen_rpass_tot/penhs_tot)*100
print("The reading passing rate of Pena High School is " + str(pen_rp))
# Holden High School
hold_rp = (hold_rpass_tot/holdhs_tot)*100
print("The reading passing rate of Holden High School is " + str(hold_rp))

The reading passing rate of Bailey High School is 81.93327974276528
The reading passing rate of Johnson High School is 81.2224322621298
The reading passing rate of Hernandez High School is 80.86299892125135
The reading passing rate of Rodriguez High School is 80.22005501375344
The reading passing rate of Figueroa High School is 65.98847066802306
The reading passing rate of Huang High School is 81.31642098045938
The reading passing rate of Ford High School is 79.29901423877328
The reading passing rate of Wilson High School is 96.53964082347788
The reading passing rate of Cabrera High School is 97.03982777179763
The reading passing rate of Wright High School is 96.61111111111111
The reading passing rate of Shelton High School is 95.85462805224304
The reading passing rate of Thomas High School is 97.30886850152906
The reading passing rate of Griffin High School is 97.13896457765668
The reading passing rate of Pena High School is 95.94594594594594
The reading passing rate of Holden High School is 96.25292740046838

In [79]:
# Calculate the overall passing rate (average of the math and reading passing rate)

# Bailey
bail_overall = (bail_mp + bail_rp)/2
print("The overall passing rate of Bailey High School is " + str(bail_overall))
# Johnson
john_overall = (john_mp + john_rp)/2
print("The overall passing rate of Johnson High School is " + str(john_overall))
# Hernandez
hern_overall = (hern_mp + hern_rp)/2
print("The overall passing rate of Hernandez High School is " + str(hern_overall))
# Rodriguez
rod_overall = (rod_mp + rod_rp)/2
print("The overall passing rate of Rodriguez High School is " + str(rod_overall))
# Figueroa
fig_overall = (fig_mp + fig_rp)/2
print("The overall passing rate of Figueroa High School is " + str(fig_overall))
# Huang High School
hua_overall = (hua_mp + hua_rp)/2
print("The overall passing rate of Huang High School is " + str(hua_overall))
# Ford High School
ford_overall = (ford_mp + ford_rp)/2
print("The overall passing rate of Ford High School is " + str(ford_overall))
# Wilson High School
wil_overall = (wil_mp + wil_rp)/2
print("The overall passing rate of Wilson High School is " + str(wil_overall))
# Cabrera High School
cab_overall = (cab_mp + cab_rp)/2
print("The overall passing rate of Cabrera High School is " + str(cab_overall))
# Wright High School
wri_overall = (wri_mp + wri_rp)/2
print("The overall passing rate of Wright High School is " + str(wri_overall))
# Shelton High School
she_overall = (she_mp + she_rp)/2
print("The overall passing rate of Shelton High School is " + str(she_overall))
# Thomas High School
tho_overall = (tho_mp + tho_rp)/2
print("The overall passing rate of Thomas High School is " + str(tho_overall))
# Griffin High School
grif_overall = (grif_mp + grif_rp)/2
print("The overall passing rate of Griffin High School is " + str(grif_overall))
# Pena High School
pen_overall = (pen_mp + pen_rp)/2
print("The overall passing rate of Pena High School is " + str(pen_overall))
# Holden High School
hold_overall = (hold_mp + hold_rp)/2
print("The overall passing rate of Holden High School is " + str(hold_overall))

The overall passing rate of Bailey High School is 74.30667202572349
The overall passing rate of Johnson High School is 73.6399915984037
The overall passing rate of Hernandez High School is 73.80798274002157
The overall passing rate of Rodriguez High School is 73.2933233308327
The overall passing rate of Figueroa High School is 73.36385215327229
The overall passing rate of Huang High School is 73.50017140898183
The overall passing rate of Ford High School is 73.80430814165754
The overall passing rate of Wilson High School is 95.20367936925099
The overall passing rate of Cabrera High School is 95.58665231431647
The overall passing rate of Wright High School is 94.97222222222223
The overall passing rate of Shelton High School is 94.86087450312323
The overall passing rate of Thomas High School is 95.29051987767585
The overall passing rate of Griffin High School is 95.26566757493188
The overall passing rate of Pena High School is 95.27027027027026
The overall passing rate of Holden High School is 94.37939110070258

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#  Sort and display the worst five schools in overall passing rate

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# Create table that lists the average math score for each school of each grade level.

In [ ]:
# Calculate the average math score for 9th grade in each school

In [ ]:
# Calculate the average math score for 10th grade in each school

In [ ]:
# Calculate the average math score for 11th grade in each school

In [ ]:
# Calculate the average math score for 12th grade in each school

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate