# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [56]:
# Create a District Summary
comp_school = school_data_complete
comp_school.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [57]:
comp_school.keys()

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [58]:
# Total number of schools
comp_school['school_name'].value_counts()
print("Total number of schools: 15")

Total number of schools: 15

In [59]:
# Total number of students
comp_school['gender'].value_counts()
student_sum = 19735 + 19435
print("Total number of students: " + str(student_sum))

Total number of students: 39170

In [60]:
# Total budget
tot_budget = comp_school['budget'].sum()
print("Total budget: " + str(tot_budget))

Total budget: 82932329558

In [61]:
# Average math score
math_avg = comp_school['math_score'].mean()
print("Average math score: " + str(math_avg))

Average math score: 78.98537145774827

In [62]:
# Average reading score
read_avg = comp_school['reading_score'].mean()
print("Average reading score: " + str(read_avg))

Average reading score: 81.87784018381414

In [63]:
# Overall average score
math = comp_school['math_score'].mean()
read = comp_school['reading_score'].mean()
overall_avg = (math + read)/2
print("Overall average score: " + str(overall_avg))

Overall average score: 80.43160582078121

In [64]:
# Percentage of passing math (70 or greater)
comp_school[(comp_school)['math_score'] >= 70]
mpercent_pass = (29370/student_sum)*100
print("The percentage of passing math with a 70 or higher is " + str(mpercent_pass))

The percentage of passing math with a 70 or higher is 74.9808526933878

In [65]:
# Percentage of passing reading (70 or greater)
comp_school[(comp_school)['reading_score'] >= 70]
rpercent_pass = (33610/student_sum)*100
print("The percentage of passing reading with a 70 or higher is " + str(rpercent_pass))

The percentage of passing reading with a 70 or higher is 85.80546336482001

In [66]:
district = [['Number of Schools',15],
        ['Number of Students',39170],
        ['Total Budget',82932329558],
        ['Math Average',78.98537145774827],
        ['Reading Average',81.878],
        ['Overall Average',80.432],
        ['Math Passing %',74.9808526933878],
        ['Reading Passing %',85.80546336482001]]
district_summary = pd.DataFrame(district, columns = ['Item','Value'])
district_summary

                 Item         Value
0   Number of Schools  1.500000e+01
1  Number of Students  3.917000e+04
2        Total Budget  8.293233e+10
3        Math Average  7.898537e+01
4     Reading Average  8.187800e+01
5     Overall Average  8.043200e+01
6      Math Passing %  7.498085e+01
7   Reading Passing %  8.580546e+01

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [67]:
#  Sort and display the top five schools in overall passing rate
school_performance = pd.DataFrame()
school_performance['High School'] = ['Bailey', 'Johnson', 'Hernandez', 'Rodriguez', 'Figueroa', 
                                     'Huang', 'Ford', 'Wilson', 'Cabrera', 'Wright', 'Shelton', 
                                     'Thomas', 'Griffin', 'Pena', 'Holden']
comp_school['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [68]:
# Calculate total school budget

# Bailey High School
bail = comp_school[(comp_school['school_name'] == "Bailey High School")]
# Johnson High School
john = comp_school[(comp_school['school_name'] == "Johnson High School")]
# Hernandez High School
hern = comp_school[(comp_school['school_name'] == "Hernandez High School")]
# Rodriguez High School
rod = comp_school[(comp_school['school_name'] == "Rodriguez High School")]
# Figueroa High School
fig = comp_school[(comp_school['school_name'] == "Figueroa High School")]
# Huang High School
hua = comp_school[(comp_school['school_name'] == "Huang High School")]
# Ford High School
ford = comp_school[(comp_school['school_name'] == "Ford High School")]
# Wilson High School
wil = comp_school[(comp_school['school_name'] == "Wilson High School")]
# Cabrera High School
cab = comp_school[(comp_school['school_name'] == "Cabrera High School")]
# Wright High School
wri = comp_school[(comp_school['school_name'] == "Wright High School")]
# Shelton High School
she = comp_school[(comp_school['school_name'] == "Shelton High School")]
# Thomas High School
tho = comp_school[(comp_school['school_name'] == "Thomas High School")]
# Griffin High School
grif = comp_school[(comp_school['school_name'] == "Griffin High School")]
# Pena High School
pen = comp_school[(comp_school['school_name'] == "Pena High School")]
# Holden High School
hold = comp_school[(comp_school['school_name'] == "Holden High School")]

In [69]:
# Calculate per student budget

# Bailey High School
bailhs_tot = 4976
bail_budgesum = bail['budget'].sum()
bail_budget = bail_budgesum/bailhs_tot

# Johnson High School
johnhs_tot = 4761
john_budgesum = john['budget'].sum()
john_budget = john_budgesum/johnhs_tot

# Hernandez High School
hernhs_tot = 4635
hern_budgesum = hern['budget'].sum()
hern_budget = hern_budgesum/hernhs_tot

# Rodriguez High School
rodhs_tot = 3999
rod_budgesum = rod['budget'].sum()
rod_budget = rod_budgesum/rodhs_tot

# Figueroa High School
fighs_tot = 2949
fig_budgesum = fig['budget'].sum()
fig_budget = fig_budgesum/fighs_tot

# Huang High School
huahs_tot = 2917 
hua_budgesum = hua['budget'].sum()
hua_budget = hua_budgesum/huahs_tot

# Ford High School
fordhs_tot = 2739
ford_budgesum = ford['budget'].sum()
ford_budget = ford_budgesum/fordhs_tot

# Wilson High School
wilhs_tot = 2283
wil_budgesum = wil['budget'].sum()
wil_budget = wil_budgesum/wilhs_tot

# Cabrera High School
cabhs_tot = 1858
cab_budgesum = cab['budget'].sum()
cab_budget = cab_budgesum/cabhs_tot

# Wright High School
wrihs_tot = 1800
wri_budgesum = wri['budget'].sum()
wri_budget = wri_budgesum/wrihs_tot

# Shelton High School
shehs_tot = 1761
she_budgesum = she['budget'].sum()
she_budget = she_budgesum/shehs_tot

# Thomas High School
thohs_tot = 1635
tho_budgesum = tho['budget'].sum()
tho_budget = tho_budgesum/thohs_tot

# Griffin High School
grifhs_tot = 1468
grif_budgesum = grif['budget'].sum()
grif_budget = grif_budgesum/grifhs_tot

# Pena High School
penhs_tot = 962
pen_budgesum = pen['budget'].sum()
pen_budget = pen_budgesum/penhs_tot

# Holden High School
holdhs_tot = 427
hold_budgesum = hold['budget'].sum()
hold_budget = hold_budgesum/holdhs_tot

# Column Add
school_performance['Budget/Student'] = [bail_budget,john_budget,hern_budget,rod_budget,fig_budget,
                                        hua_budget,ford_budget,wil_budget,cab_budget,wri_budget,
                                        she_budget,tho_budget,grif_budget,pen_budget,hold_budget]

In [70]:
# Cacluate the avg math and reading score

# Bailey High School
bail_math_sum = bail['math_score'].sum()
bail_read_sum = bail['reading_score'].sum()
bail_mavg = bail_math_sum/bailhs_tot
bail_ravg = bail_read_sum/bailhs_tot

# Johnson High School
john_math_sum = john['math_score'].sum()
john_read_sum = john['reading_score'].sum()
john_mavg = john_math_sum/johnhs_tot
john_ravg = john_read_sum/johnhs_tot

# Hernandez High School
hern_math_sum = hern['math_score'].sum()
hern_read_sum = hern['reading_score'].sum()
hern_mavg = hern_math_sum/hernhs_tot
hern_ravg = hern_read_sum/hernhs_tot

# Rodriguez High School
rod_math_sum = rod['math_score'].sum()
rod_read_sum = rod['reading_score'].sum()
rod_mavg = rod_math_sum/rodhs_tot
rod_ravg = rod_read_sum/rodhs_tot

# Figueroa High School
fig_math_sum = fig['math_score'].sum()
fig_read_sum = fig['reading_score'].sum()
fig_mavg = fig_math_sum/fighs_tot
fig_ravg = fig_read_sum/fighs_tot

# Huang High School
hua_math_sum = hua['math_score'].sum()
hua_read_sum = hua['reading_score'].sum() 
hua_mavg = hua_math_sum/huahs_tot
hua_ravg = hua_read_sum/huahs_tot

# Ford High School
ford_math_sum = ford['math_score'].sum()
ford_read_sum = ford['reading_score'].sum()
ford_mavg = ford_math_sum/fordhs_tot
ford_ravg = ford_read_sum/fordhs_tot

# Wilson High School
wil_math_sum = wil['math_score'].sum()
wil_read_sum = wil['reading_score'].sum()
wil_mavg = wil_math_sum/wilhs_tot
wil_ravg = wil_read_sum/wilhs_tot

# Cabrera High School
cab_math_sum = cab['math_score'].sum()
cab_read_sum = cab['reading_score'].sum()
cab_mavg = cab_math_sum/cabhs_tot
cab_ravg = cab_read_sum/cabhs_tot

# Wright High School
wri_math_sum = wri['math_score'].sum()
wri_read_sum = wri['reading_score'].sum()
wri_mavg = wri_math_sum/wrihs_tot
wri_ravg = wri_read_sum/wrihs_tot

# Shelton High School
she_math_sum = she['math_score'].sum()
she_read_sum = she['reading_score'].sum()
she_mavg = she_math_sum/shehs_tot
she_ravg = she_read_sum/shehs_tot

# Thomas High School
tho_math_sum = tho['math_score'].sum()
tho_read_sum = tho['reading_score'].sum()
tho_mavg = tho_math_sum/thohs_tot
tho_ravg = tho_read_sum/thohs_tot

# Griffin High School
grif_math_sum = grif['math_score'].sum()
grif_read_sum = grif['reading_score'].sum()
grif_mavg = grif_math_sum/grifhs_tot
grif_ravg = grif_read_sum/grifhs_tot

# Pena High School
pen_math_sum = pen['math_score'].sum()
pen_read_sum = pen['reading_score'].sum()
pen_mavg = pen_math_sum/penhs_tot
pen_ravg = pen_read_sum/penhs_tot

# Holden High School
hold_math_sum = hold['math_score'].sum()
hold_read_sum = hold['reading_score'].sum()
hold_mavg = hold_math_sum/holdhs_tot
hold_ravg = hold_read_sum/holdhs_tot

# Column Add
school_performance['Math Average'] = [bail_mavg,john_mavg,hern_mavg,rod_mavg,fig_mavg,
                                      hua_mavg,ford_mavg,wil_mavg,cab_mavg,wri_mavg,
                                      she_mavg,tho_mavg,grif_mavg,pen_mavg,hold_mavg,]

school_performance['Reading Average'] = [bail_ravg,john_ravg,hern_ravg,rod_ravg,fig_ravg,
                                      hua_ravg,ford_ravg,wil_ravg,cab_ravg,wri_ravg,
                                      she_ravg,tho_ravg,grif_ravg,pen_ravg,hold_ravg,]

#### Find the passing rate for math and reading (above 70 points)

In [71]:
# Find the total counts of math result
# Find the counts for math result in each school that pass 70 or higher

# Bailey High School
bail_mpass_tot = len(bail[(bail)['math_score'] >= 70])
# Johnson High School
john_mpass_tot = len(john[(john)['math_score'] >= 70])
# Hernandez High School
hern_mpass_tot = len(hern[(hern)['math_score'] >= 70])
# Rodriguez High School
rod_mpass_tot = len(rod[(rod)['math_score'] >= 70])
# Figueroa High School
fig_mpass_tot = len(fig[(fig)['math_score'] >= 70])
# Huang High School
hua_mpass_tot = len(hua[(hua)['math_score'] >= 70])
# Ford High School
ford_mpass_tot = len(ford[(ford)['math_score'] >= 70])
# Wilson High School
wil_mpass_tot = len(wil[(wil)['math_score'] >= 70])
# Cabrera High School
cab_mpass_tot = len(cab[(cab)['math_score'] >= 70])
# Wright High School
wri_mpass_tot = len(wri[(wri)['math_score'] >= 70])
# Shelton High School
she_mpass_tot = len(she[(she)['math_score'] >= 70])
# Thomas High School
tho_mpass_tot = len(tho[(tho)['math_score'] >= 70])
# Griffin High School
grif_mpass_tot = len(grif[(grif)['math_score'] >= 70])
# Pena High School
pen_mpass_tot = len(pen[(pen)['math_score'] >= 70])
# Holden High School
hold_mpass_tot = len(hold[(hold)['math_score'] >= 70])

# Calculate the math passing rate

# Bailey High School
bail_mp = (bail_mpass_tot/bailhs_tot)*100
# Johnson High School
john_mp = (john_mpass_tot/johnhs_tot)*100
# Hernandez High School
hern_mp = (hern_mpass_tot/hernhs_tot)*100
# Rodriguez High School
rod_mp = (rod_mpass_tot/rodhs_tot)*100
# Figueroa High School
fig_mp = (fig_mpass_tot/fighs_tot)*100
# Huang High School
hua_mp = (hua_mpass_tot/huahs_tot)*100
# Ford High School
ford_mp = (ford_mpass_tot/fordhs_tot)*100
# Wilson High School
wil_mp = (wil_mpass_tot/wilhs_tot)*100
# Cabrera High School
cab_mp = (cab_mpass_tot/cabhs_tot)*100
# Wright High School
wri_mp = (wri_mpass_tot/wrihs_tot)*100
# Shelton High School
she_mp = (she_mpass_tot/shehs_tot)*100
# Thomas High School
tho_mp = (tho_mpass_tot/thohs_tot)*100
# Griffin High School
grif_mp = (grif_mpass_tot/grifhs_tot)*100
# Pena High School
pen_mp = (pen_mpass_tot/penhs_tot)*100
# Holden High School
hold_mp = (hold_mpass_tot/holdhs_tot)*100

# Column Add
school_performance['Math Pass Rate'] = [bail_mp,john_mp,hern_mp,rod_mp,fig_mp,
                                        hua_mp,ford_mp,wil_mp,cab_mp,wri_mp,
                                        she_mp,tho_mp,grif_mp,pen_mp,hold_mp]

In [72]:
# Find the total counts of read result
# Find the counts for read result in each school that pass 70 or higher

# Bailey
bail_rpass_tot = len(bail[(bail)['reading_score'] >= 70])
# Johnson High School
john_rpass_tot = len(john[(john)['reading_score'] >= 70])
# Hernandez High School
hern_rpass_tot = len(hern[(hern)['reading_score'] >= 70])
# Rodriguez High School
rod_rpass_tot = len(rod[(rod)['reading_score'] >= 70])
# Figueroa High School
fig_rpass_tot = len(fig[(fig)['reading_score'] >= 70])
# Huang High School
hua_rpass_tot = len(hua[(hua)['reading_score'] >= 70])
# Ford High School
ford_rpass_tot = len(ford[(ford)['reading_score'] >= 70])
# Wilson High School
wil_rpass_tot = len(wil[(wil)['reading_score'] >= 70])
# Cabrera High School
cab_rpass_tot = len(cab[(cab)['reading_score'] >= 70])
# Wright High School
wri_rpass_tot = len(wri[(wri)['reading_score'] >= 70])
# Shelton High School
she_rpass_tot = len(she[(she)['reading_score'] >= 70])
# Thomas High School
tho_rpass_tot = len(tho[(tho)['reading_score'] >= 70])
# Griffin High School
grif_rpass_tot = len(grif[(grif)['reading_score'] >= 70])
# Pena High School
pen_rpass_tot = len(pen[(pen)['reading_score'] >= 70])
# Holden High School
hold_rpass_tot = len(hold[(hold)['reading_score'] >= 70])

# Calculate the read passing rate

# Bailey High School
bail_rp = (bail_rpass_tot/bailhs_tot)*100
# Johnson High School
john_rp = (john_rpass_tot/johnhs_tot)*100
# Hernandez High School
hern_rp = (hern_rpass_tot/hernhs_tot)*100
# Rodriguez High School
rod_rp = (rod_rpass_tot/rodhs_tot)*100
# Figueroa High School
fig_rp = (fig_rpass_tot/fighs_tot)*100
# Huang High School
hua_rp = (hua_rpass_tot/huahs_tot)*100
# Ford High School
ford_rp = (ford_rpass_tot/fordhs_tot)*100
# Wilson High School
wil_rp = (wil_rpass_tot/wilhs_tot)*100
# Cabrera High School
cab_rp = (cab_rpass_tot/cabhs_tot)*100
# Wright High School
wri_rp = (wri_rpass_tot/wrihs_tot)*100
# Shelton High School
she_rp = (she_rpass_tot/shehs_tot)*100
# Thomas High School
tho_rp = (tho_rpass_tot/thohs_tot)*100
# Griffin High School
grif_rp = (grif_rpass_tot/grifhs_tot)*100
# Pena High School
pen_rp = (pen_rpass_tot/penhs_tot)*100
# Holden High School
hold_rp = (hold_rpass_tot/holdhs_tot)*100

# Column Add
school_performance['Reading Passing Rate'] = [bail_rp,john_rp,hern_rp,rod_rp,fig_rp,
                                              hua_rp,ford_rp,wil_rp,cab_rp,wri_rp,
                                              she_rp,tho_rp,grif_rp,pen_rp,hold_rp]

In [73]:
# Calculate the overall passing rate (average of the math and reading passing rate)

# Bailey
bail_overall = (bail_mp + bail_rp)/2
# Johnson
john_overall = (john_mp + john_rp)/2
# Hernandez
hern_overall = (hern_mp + hern_rp)/2
# Rodriguez
rod_overall = (rod_mp + rod_rp)/2
# Figueroa
fig_overall = (fig_mp + fig_rp)/2
# Huang High School
hua_overall = (hua_mp + hua_rp)/2
# Ford High School
ford_overall = (ford_mp + ford_rp)/2
# Wilson High School
wil_overall = (wil_mp + wil_rp)/2
# Cabrera High School
cab_overall = (cab_mp + cab_rp)/2
# Wright High School
wri_overall = (wri_mp + wri_rp)/2
# Shelton High School
she_overall = (she_mp + she_rp)/2
# Thomas High School
tho_overall = (tho_mp + tho_rp)/2
# Griffin High School
grif_overall = (grif_mp + grif_rp)/2
# Pena High School
pen_overall = (pen_mp + pen_rp)/2
# Holden High School
hold_overall = (hold_mp + hold_rp)/2

# Column Add
school_performance['Overall Passing Rate'] = [bail_overall,john_overall,hern_overall,rod_overall,
                                              fig_overall,hua_overall,ford_overall,wil_overall,
                                              cab_overall,wri_overall,she_overall,tho_overall,
                                              grif_overall,pen_overall,hold_overall]

In [74]:
school_performance.sort_values(by = "Overall Passing Rate", ascending = False).head()

,High School,Budget/Student,Math Average,Reading Average,Math Pass Rate,Reading Passing Rate,Overall Passing Rate
8,Cabrera,1081356.0,83.061895,83.975780,94.133477,97.039828,95.586652
11,Thomas,1043130.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Pena,585858.0,83.839917,84.044699,94.594595,95.945946,95.270270
12,Griffin,917500.0,83.351499,83.816757,93.392371,97.138965,95.265668
7,Wilson,1319574.0,83.274201,83.989488,93.867718,96.539641,95.203679

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [75]:
#  Sort and display the worst five schools in overall passing rate

school_performance.sort_values(by = "Overall Passing Rate").head()

,High School,Budget/Student,Math Average,Reading Average,Math Pass Rate,Reading Passing Rate,Overall Passing Rate
3,Rodriguez,2547363.0,76.842711,80.744686,66.366592,80.220055,73.293323
4,Figueroa,1884411.0,76.711767,81.158020,65.988471,80.739234,73.363852
5,Huang,1910635.0,76.629414,81.182722,65.683922,81.316421,73.500171
1,Johnson,3094650.0,77.072464,80.966394,66.057551,81.222432,73.639992
6,Ford,1763916.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [76]:
# Create table that lists the average math score for each school of each grade level.

school_mgrade = pd.DataFrame()
school_mgrade['High School'] = ['Bailey', 'Johnson', 'Hernandez', 'Rodriguez', 'Figueroa', 
                                     'Huang', 'Ford', 'Wilson', 'Cabrera', 'Wright', 'Shelton', 
                                     'Thomas', 'Griffin', 'Pena', 'Holden']
# Bailey
bail9 = bail[(bail['grade'] == "9th")]
bail10 = bail[(bail['grade'] == "10th")]
bail11 = bail[(bail['grade'] == "11th")]
bail12 = bail[(bail['grade'] == "12th")]
# Johnson
john9 = john[(john['grade'] == "9th")]
john10 = john[(john['grade'] == "10th")]
john11 = john[(john['grade'] == "11th")]
john12 = john[(john['grade'] == "12th")]
# Hernandez
hern9 = hern[(hern['grade'] == "9th")]
hern10 = hern[(hern['grade'] == "10th")]
hern11 = hern[(hern['grade'] == "11th")]
hern12 = hern[(hern['grade'] == "12th")]
# Rodriguez
rod9 = rod[(rod['grade'] == "9th")]
rod10 = rod[(rod['grade'] == "10th")]
rod11 = rod[(rod['grade'] == "11th")]
rod12 = rod[(rod['grade'] == "12th")]
# Figueroa
fig9 = fig[(fig['grade'] == "9th")]
fig10 = fig[(fig['grade'] == "10th")]
fig11 = fig[(fig['grade'] == "11th")]
fig12 = fig[(fig['grade'] == "12th")]
# Huang
hua9 = hua[(hua['grade'] == "9th")]
hua10 = hua[(hua['grade'] == "10th")]
hua11 = hua[(hua['grade'] == "11th")]
hua12 = hua[(hua['grade'] == "12th")]
# Ford
ford9 = ford[(ford['grade'] == "9th")]
ford10 = ford[(ford['grade'] == "10th")]
ford11 = ford[(ford['grade'] == "11th")]
ford12 = ford[(ford['grade'] == "12th")]
# Wilson
wil9 = wil[(wil['grade'] == "9th")]
wil10 = wil[(wil['grade'] == "10th")]
wil11 = wil[(wil['grade'] == "11th")]
wil12 = wil[(wil['grade'] == "12th")]
# Cabrera
cab9 = cab[(cab['grade'] == "9th")]
cab10 = cab[(cab['grade'] == "10th")]
cab11 = cab[(cab['grade'] == "11th")]
cab12 = cab[(cab['grade'] == "12th")]
# Wright
wri9 = wri[(wri['grade'] == "9th")]
wri10 = wri[(wri['grade'] == "10th")]
wri11 = wri[(wri['grade'] == "11th")]
wri12 = wri[(wri['grade'] == "12th")]
# Shelton
she9 = she[(she['grade'] == "9th")]
she10 = she[(she['grade'] == "10th")]
she11 = she[(she['grade'] == "11th")]
she12 = she[(she['grade'] == "12th")]
# Thomas
tho9 = tho[(tho['grade'] == "9th")]
tho10 = tho[(tho['grade'] == "10th")]
tho11 = tho[(tho['grade'] == "11th")]
tho12 = tho[(tho['grade'] == "12th")]
# Griffin
grif9 = grif[(grif['grade'] == "9th")]
grif10 = grif[(grif['grade'] == "10th")]
grif11 = grif[(grif['grade'] == "11th")]
grif12 = grif[(grif['grade'] == "12th")]
# Pena
pen9 = pen[(pen['grade'] == "9th")]
pen10 = pen[(pen['grade'] == "10th")]
pen11 = pen[(pen['grade'] == "11th")]
pen12 = pen[(pen['grade'] == "12th")]
# Holden
hold9 = hold[(hold['grade'] == "9th")]
hold10 = hold[(hold['grade'] == "10th")]
hold11 = hold[(hold['grade'] == "11th")]
hold12 = hold[(hold['grade'] == "12th")]

In [77]:
# Calculate the average math score for 9th grade in each school

# Bailey
bail9_msum = bail9['math_score'].sum() 
bail9_tot = len(bail9)
bail9_mavg = bail9_msum/bail9_tot
# Johnson
john9_msum = john9['math_score'].sum()
john9_tot = len(john9)
john9_mavg = john9_msum/john9_tot
# Hernandez
hern9_msum = hern9['math_score'].sum()
hern9_tot = len(hern9)
hern9_mavg = hern9_msum/hern9_tot
# Rodriguez
rod9_msum = rod9['math_score'].sum()
rod9_tot = len(rod9)
rod9_mavg = rod9_msum/rod9_tot
# Figueroa
fig9_msum = fig9['math_score'].sum()
fig9_tot = len(fig9)
fig9_mavg = fig9_msum/fig9_tot
# Huang
hua9_msum = hua9['math_score'].sum()
hua9_tot = len(hua9)
hua9_mavg = hua9_msum/hua9_tot
# Ford
ford9_msum = ford9['math_score'].sum()
ford9_tot = len(ford9)
ford9_mavg = ford9_msum/ford9_tot
# Wilson
wil9_msum = wil9['math_score'].sum()
wil9_tot = len(wil9)
wil9_mavg = wil9_msum/wil9_tot
# Cabrera
cab9_msum = cab9['math_score'].sum()
cab9_tot = len(cab9)
cab9_mavg = cab9_msum/cab9_tot
# Wright
wri9_msum = wri9['math_score'].sum()
wri9_tot = len(wri9)
wri9_mavg = wri9_msum/wri9_tot
# Shelton
she9_msum = she9['math_score'].sum()
she9_tot = len(she9)
she9_mavg = she9_msum/she9_tot
# Thomas
tho9_msum = tho9['math_score'].sum()
tho9_tot = len(tho9)
tho9_mavg = tho9_msum/tho9_tot
# Griffin
grif9_msum = grif9['math_score'].sum()
grif9_tot = len(grif9)
grif9_mavg = grif9_msum/grif9_tot
# Pena
pen9_msum = pen9['math_score'].sum()
pen9_tot = len(pen9)
pen9_mavg = pen9_msum/pen9_tot
# Holden
hold9_msum = hold9['math_score'].sum()
hold9_tot = len(hold9)
hold9_mavg = hold9_msum/hold9_tot

# Column Add
school_mgrade['9th Grade Math Avg'] = [bail9_mavg, john9_mavg, hern9_mavg, rod9_mavg, fig9_mavg,
                                      hua9_mavg, ford9_mavg, wil9_mavg, cab9_mavg, wri9_mavg,
                                      she9_mavg, tho9_mavg, grif9_mavg, pen9_mavg, hold9_mavg]

In [78]:
# Calculate the average math score for 10th grade in each school

# Bailey
bail10_msum = bail10['math_score'].sum() 
bail10_tot = len(bail10)
bail10_mavg = bail10_msum/bail10_tot
# Johnson
john10_msum = john10['math_score'].sum()
john10_tot = len(john10)
john10_mavg = john10_msum/john10_tot
# Hernandez
hern10_msum = hern10['math_score'].sum()
hern10_tot = len(hern10)
hern10_mavg = hern10_msum/hern10_tot
# Rodriguez
rod10_msum = rod10['math_score'].sum()
rod10_tot = len(rod10)
rod10_mavg = rod10_msum/rod10_tot
# Figueroa
fig10_msum = fig10['math_score'].sum()
fig10_tot = len(fig10)
fig10_mavg = fig10_msum/fig10_tot
# Huang
hua10_msum = hua10['math_score'].sum()
hua10_tot = len(hua10)
hua10_mavg = hua10_msum/hua10_tot
# Ford
ford10_msum = ford10['math_score'].sum()
ford10_tot = len(ford10)
ford10_mavg = ford10_msum/ford10_tot
# Wilson
wil10_msum = wil10['math_score'].sum()
wil10_tot = len(wil10)
wil10_mavg = wil10_msum/wil10_tot
# Cabrera
cab10_msum = cab10['math_score'].sum()
cab10_tot = len(cab10)
cab10_mavg = cab10_msum/cab10_tot
# Wright
wri10_msum = wri10['math_score'].sum()
wri10_tot = len(wri10)
wri10_mavg = wri10_msum/wri10_tot
# Shelton
she10_msum = she10['math_score'].sum()
she10_tot = len(she10)
she10_mavg = she10_msum/she10_tot
# Thomas
tho10_msum = tho10['math_score'].sum()
tho10_tot = len(tho10)
tho10_mavg = tho10_msum/tho10_tot
# Griffin
grif10_msum = grif10['math_score'].sum()
grif10_tot = len(grif10)
grif10_mavg = grif10_msum/grif10_tot
# Pena
pen10_msum = pen10['math_score'].sum()
pen10_tot = len(pen10)
pen10_mavg = pen10_msum/pen10_tot
# Holden
hold10_msum = hold10['math_score'].sum()
hold10_tot = len(hold10)
hold10_mavg = hold10_msum/hold10_tot

# Column Add
school_mgrade['10th Grade Math Avg'] = [bail10_mavg, john10_mavg, hern10_mavg, rod10_mavg, fig10_mavg,
                                      hua10_mavg, ford10_mavg, wil10_mavg, cab10_mavg, wri10_mavg,
                                      she10_mavg, tho10_mavg, grif10_mavg, pen10_mavg, hold10_mavg]

In [79]:
# Calculate the average math score for 11th grade in each school

# Bailey
bail11_msum = bail11['math_score'].sum() 
bail11_tot = len(bail11)
bail11_mavg = bail11_msum/bail11_tot
# Johnson
john11_msum = john11['math_score'].sum()
john11_tot = len(john11)
john11_mavg = john11_msum/john11_tot
# Hernandez
hern11_msum = hern11['math_score'].sum()
hern11_tot = len(hern11)
hern11_mavg = hern11_msum/hern11_tot
# Rodriguez
rod11_msum = rod11['math_score'].sum()
rod11_tot = len(rod11)
rod11_mavg = rod11_msum/rod11_tot
# Figueroa
fig11_msum = fig11['math_score'].sum()
fig11_tot = len(fig11)
fig11_mavg = fig11_msum/fig11_tot
# Huang
hua11_msum = hua11['math_score'].sum()
hua11_tot = len(hua11)
hua11_mavg = hua11_msum/hua11_tot
# Ford
ford11_msum = ford11['math_score'].sum()
ford11_tot = len(ford11)
ford11_mavg = ford11_msum/ford11_tot
# Wilson
wil11_msum = wil11['math_score'].sum()
wil11_tot = len(wil11)
wil11_mavg = wil11_msum/wil11_tot
# Cabrera
cab11_msum = cab11['math_score'].sum()
cab11_tot = len(cab11)
cab11_mavg = cab11_msum/cab11_tot
# Wright
wri11_msum = wri11['math_score'].sum()
wri11_tot = len(wri11)
wri11_mavg = wri11_msum/wri11_tot
# Shelton
she11_msum = she11['math_score'].sum()
she11_tot = len(she11)
she11_mavg = she11_msum/she11_tot
# Thomas
tho11_msum = tho11['math_score'].sum()
tho11_tot = len(tho11)
tho11_mavg = tho11_msum/tho11_tot
# Griffin
grif11_msum = grif11['math_score'].sum()
grif11_tot = len(grif11)
grif11_mavg = grif11_msum/grif11_tot
# Pena
pen11_msum = pen11['math_score'].sum()
pen11_tot = len(pen11)
pen11_mavg = pen11_msum/pen11_tot
# Holden
hold11_msum = hold11['math_score'].sum()
hold11_tot = len(hold11)
hold11_mavg = hold11_msum/hold11_tot

# Column Add
school_mgrade['11th Grade Math Avg'] = [bail11_mavg, john11_mavg, hern11_mavg, rod11_mavg, fig11_mavg,
                                      hua11_mavg, ford11_mavg, wil11_mavg, cab11_mavg, wri11_mavg,
                                      she11_mavg, tho11_mavg, grif11_mavg, pen11_mavg, hold11_mavg]

In [80]:
# Calculate the average math score for 12th grade in each school

# Bailey
bail12_msum = bail12['math_score'].sum() 
bail12_tot = len(bail12)
bail12_mavg = bail12_msum/bail12_tot
# Johnson
john12_msum = john12['math_score'].sum()
john12_tot = len(john12)
john12_mavg = john12_msum/john12_tot
# Hernandez
hern12_msum = hern12['math_score'].sum()
hern12_tot = len(hern12)
hern12_mavg = hern12_msum/hern12_tot
# Rodriguez
rod12_msum = rod12['math_score'].sum()
rod12_tot = len(rod12)
rod12_mavg = rod12_msum/rod12_tot
# Figueroa
fig12_msum = fig12['math_score'].sum()
fig12_tot = len(fig12)
fig12_mavg = fig12_msum/fig12_tot
# Huang
hua12_msum = hua12['math_score'].sum()
hua12_tot = len(hua12)
hua12_mavg = hua12_msum/hua12_tot
# Ford
ford12_msum = ford12['math_score'].sum()
ford12_tot = len(ford12)
ford12_mavg = ford12_msum/ford12_tot
# Wilson
wil12_msum = wil12['math_score'].sum()
wil12_tot = len(wil12)
wil12_mavg = wil12_msum/wil12_tot
# Cabrera
cab12_msum = cab12['math_score'].sum()
cab12_tot = len(cab12)
cab12_mavg = cab12_msum/cab12_tot
# Wright
wri12_msum = wri12['math_score'].sum()
wri12_tot = len(wri12)
wri12_mavg = wri12_msum/wri12_tot
# Shelton
she12_msum = she12['math_score'].sum()
she12_tot = len(she12)
she12_mavg = she12_msum/she12_tot
# Thomas
tho12_msum = tho12['math_score'].sum()
tho12_tot = len(tho12)
tho12_mavg = tho12_msum/tho12_tot
# Griffin
grif12_msum = grif12['math_score'].sum()
grif12_tot = len(grif12)
grif12_mavg = grif12_msum/grif12_tot
# Pena
pen12_msum = pen12['math_score'].sum()
pen12_tot = len(pen12)
pen12_mavg = pen12_msum/pen12_tot
# Holden
hold12_msum = hold12['math_score'].sum()
hold12_tot = len(hold12)
hold12_mavg = hold12_msum/hold12_tot

# Column Add
school_mgrade['12th Grade Math Avg'] = [bail12_mavg, john12_mavg, hern12_mavg, rod12_mavg, fig12_mavg,
                                      hua12_mavg, ford12_mavg, wil12_mavg, cab12_mavg, wri12_mavg,
                                      she12_mavg, tho12_mavg, grif12_mavg, pen12_mavg, hold12_mavg]

In [81]:
school_mgrade

,High School,9th Grade Math Avg,10th Grade Math Avg,11th Grade Math Avg,12th Grade Math Avg
0,Bailey,77.083676,76.996772,77.515588,76.492218
1,Johnson,77.187857,76.691117,77.491653,76.863248
2,Hernandez,77.438495,77.337408,77.136029,77.186567
3,Rodriguez,76.859966,76.612500,76.395626,77.690748
4,Figueroa,76.403037,76.539974,76.884344,77.151369
5,Huang,77.027251,75.908735,76.446602,77.225641
6,Ford,77.361345,77.672316,76.918058,76.179963
7,Wilson,83.085578,83.724422,83.195326,83.035794
8,Cabrera,83.094697,83.154506,82.765560,83.277487
9,Wright,83.264706,84.010288,83.836782,83.644986
10,Shelton,83.420755,82.917411,83.383495,83.778976
11,Thomas,83.590022,83.087886,83.498795,83.497041
12,Griffin,82.044010,84.229064,83.842105,83.356164
13,Pena,83.625455,83.372000,84.328125,84.121547
14,Holden,83.787402,83.429825,85.000000,82.855422

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [82]:
# Create table that lists the average reading score for each school of each grade level.
school_rgrade = pd.DataFrame()
school_rgrade['High School'] = ['Bailey', 'Johnson', 'Hernandez', 'Rodriguez', 'Figueroa', 
                                     'Huang', 'Ford', 'Wilson', 'Cabrera', 'Wright', 'Shelton', 
                                     'Thomas', 'Griffin', 'Pena', 'Holden']

In [83]:
# Calculate the average reading score for 9th grade in each school

# Bailey
bail9_rsum = bail9['reading_score'].sum() 
bail9_tot = len(bail9)
bail9_ravg = bail9_rsum/bail9_tot
# Johnson
john9_rsum = john9['reading_score'].sum()
john9_tot = len(john9)
john9_ravg = john9_rsum/john9_tot
# Hernandez
hern9_rsum = hern9['reading_score'].sum()
hern9_tot = len(hern9)
hern9_ravg = hern9_rsum/hern9_tot
# Rodriguez
rod9_rsum = rod9['reading_score'].sum()
rod9_tot = len(rod9)
rod9_ravg = rod9_rsum/rod9_tot
# Figueroa
fig9_rsum = fig9['reading_score'].sum()
fig9_tot = len(fig9)
fig9_ravg = fig9_rsum/fig9_tot
# Huang
hua9_rsum = hua9['reading_score'].sum()
hua9_tot = len(hua9)
hua9_ravg = hua9_rsum/hua9_tot
# Ford
ford9_rsum = ford9['reading_score'].sum()
ford9_tot = len(ford9)
ford9_ravg = ford9_rsum/ford9_tot
# Wilson
wil9_rsum = wil9['reading_score'].sum()
wil9_tot = len(wil9)
wil9_ravg = wil9_rsum/wil9_tot
# Cabrera
cab9_rsum = cab9['reading_score'].sum()
cab9_tot = len(cab9)
cab9_ravg = cab9_rsum/cab9_tot
# Wright
wri9_rsum = wri9['reading_score'].sum()
wri9_tot = len(wri9)
wri9_ravg = wri9_rsum/wri9_tot
# Shelton
she9_rsum = she9['reading_score'].sum()
she9_tot = len(she9)
she9_ravg = she9_msum/she9_tot
# Thomas
tho9_rsum = tho9['reading_score'].sum()
tho9_tot = len(tho9)
tho9_ravg = tho9_rsum/tho9_tot
# Griffin
grif9_rsum = grif9['reading_score'].sum()
grif9_tot = len(grif9)
grif9_ravg = grif9_rsum/grif9_tot
# Pena
pen9_rsum = pen9['reading_score'].sum()
pen9_tot = len(pen9)
pen9_ravg = pen9_rsum/pen9_tot
# Holden
hold9_rsum = hold9['reading_score'].sum()
hold9_tot = len(hold9)
hold9_ravg = hold9_rsum/hold9_tot

# Column Add
school_rgrade['9th Grade Reading Avg'] = [bail9_ravg, john9_ravg, hern9_ravg, rod9_ravg, fig9_ravg,
                                      hua9_ravg, ford9_ravg, wil9_ravg, cab9_ravg, wri9_ravg,
                                      she9_ravg, tho9_ravg, grif9_ravg, pen9_ravg, hold9_ravg]

In [84]:
# Calculate the average reading score for 10th grade in each school

# Bailey
bail10_rsum = bail10['reading_score'].sum() 
bail10_tot = len(bail10)
bail10_ravg = bail10_rsum/bail10_tot
# Johnson
john10_rsum = john10['reading_score'].sum()
john10_tot = len(john10)
john10_ravg = john10_rsum/john10_tot
# Hernandez
hern10_rsum = hern10['reading_score'].sum()
hern10_tot = len(hern10)
hern10_ravg = hern10_rsum/hern10_tot
# Rodriguez
rod10_rsum = rod10['reading_score'].sum()
rod10_tot = len(rod10)
rod10_ravg = rod10_rsum/rod10_tot
# Figueroa
fig10_rsum = fig10['reading_score'].sum()
fig10_tot = len(fig10)
fig10_ravg = fig10_rsum/fig10_tot
# Huang
hua10_rsum = hua10['reading_score'].sum()
hua10_tot = len(hua10)
hua10_ravg = hua10_rsum/hua10_tot
# Ford
ford10_rsum = ford10['reading_score'].sum()
ford10_tot = len(ford10)
ford10_ravg = ford10_rsum/ford10_tot
# Wilson
wil10_rsum = wil10['reading_score'].sum()
wil10_tot = len(wil10)
wil10_ravg = wil10_rsum/wil10_tot
# Cabrera
cab10_rsum = cab10['reading_score'].sum()
cab10_tot = len(cab10)
cab10_ravg = cab10_rsum/cab10_tot
# Wright
wri10_rsum = wri10['reading_score'].sum()
wri10_tot = len(wri10)
wri10_ravg = wri10_rsum/wri10_tot
# Shelton
she10_rsum = she10['reading_score'].sum()
she10_tot = len(she10)
she10_ravg = she10_rsum/she10_tot
# Thomas
tho10_rsum = tho10['reading_score'].sum()
tho10_tot = len(tho10)
tho10_ravg = tho10_rsum/tho10_tot
# Griffin
grif10_rsum = grif10['reading_score'].sum()
grif10_tot = len(grif10)
grif10_ravg = grif10_rsum/grif10_tot
# Pena
pen10_rsum = pen10['reading_score'].sum()
pen10_tot = len(pen10)
pen10_ravg = pen10_rsum/pen10_tot
# Holden
hold10_rsum = hold10['reading_score'].sum()
hold10_tot = len(hold10)
hold10_ravg = hold10_rsum/hold10_tot

# Column Add
school_rgrade['10th Grade Reading Avg'] = [bail10_ravg, john10_ravg, hern10_ravg, rod10_ravg, 
                                           fig10_ravg, hua10_ravg, ford10_ravg, wil10_ravg, 
                                           cab10_ravg, wri10_ravg, she10_ravg, tho10_ravg, 
                                           grif10_ravg, pen10_ravg, hold10_ravg]

In [85]:
# Calculate the average reading score for 11th grade in each school

# Bailey
bail11_rsum = bail11['reading_score'].sum() 
bail11_tot = len(bail11)
bail11_ravg = bail11_rsum/bail11_tot
# Johnson
john11_rsum = john11['reading_score'].sum()
john11_tot = len(john11)
john11_ravg = john11_rsum/john11_tot
# Hernandez
hern11_rsum = hern11['reading_score'].sum()
hern11_tot = len(hern11)
hern11_ravg = hern11_rsum/hern11_tot
# Rodriguez
rod11_rsum = rod11['reading_score'].sum()
rod11_tot = len(rod11)
rod11_ravg = rod11_rsum/rod11_tot
# Figueroa
fig11_rsum = fig11['reading_score'].sum()
fig11_tot = len(fig11)
fig11_ravg = fig11_rsum/fig11_tot
# Huang
hua11_rsum = hua11['reading_score'].sum()
hua11_tot = len(hua11)
hua11_ravg = hua11_rsum/hua11_tot
# Ford
ford11_rsum = ford11['reading_score'].sum()
ford11_tot = len(ford11)
ford11_ravg = ford11_rsum/ford11_tot
# Wilson
wil11_rsum = wil11['reading_score'].sum()
wil11_tot = len(wil11)
wil11_ravg = wil11_rsum/wil11_tot
# Cabrera
cab11_rsum = cab11['reading_score'].sum()
cab11_tot = len(cab11)
cab11_ravg = cab11_rsum/cab11_tot
# Wright
wri11_rsum = wri11['reading_score'].sum()
wri11_tot = len(wri11)
wri11_ravg = wri11_rsum/wri11_tot
# Shelton
she11_rsum = she11['reading_score'].sum()
she11_tot = len(she11)
she11_ravg = she11_rsum/she11_tot
# Thomas
tho11_rsum = tho11['reading_score'].sum()
tho11_tot = len(tho11)
tho11_ravg = tho11_rsum/tho11_tot
# Griffin
grif11_rsum = grif11['reading_score'].sum()
grif11_tot = len(grif11)
grif11_ravg = grif11_rsum/grif11_tot
# Pena
pen11_rsum = pen11['reading_score'].sum()
pen11_tot = len(pen11)
pen11_ravg = pen11_rsum/pen11_tot
# Holden
hold11_rsum = hold11['reading_score'].sum()
hold11_tot = len(hold11)
hold11_ravg = hold11_rsum/hold11_tot

# Column Add
school_rgrade['11th Grade Reading Avg'] = [bail11_ravg, john11_ravg, hern11_ravg, rod11_ravg, 
                                           fig11_ravg, hua11_ravg, ford11_ravg, wil11_ravg, 
                                           cab11_ravg, wri11_ravg, she11_ravg, tho11_ravg, 
                                           grif11_ravg, pen11_ravg, hold11_ravg]

In [86]:
# Calculate the average reading score for 12th grade in each school

# Bailey
bail12_rsum = bail12['reading_score'].sum() 
bail12_tot = len(bail12)
bail12_ravg = bail12_rsum/bail12_tot
# Johnson
john12_rsum = john12['reading_score'].sum()
john12_tot = len(john12)
john12_ravg = john12_rsum/john12_tot
# Hernandez
hern12_rsum = hern12['reading_score'].sum()
hern12_tot = len(hern12)
hern12_ravg = hern12_rsum/hern12_tot
# Rodriguez
rod12_rsum = rod12['reading_score'].sum()
rod12_tot = len(rod12)
rod12_ravg = rod12_rsum/rod12_tot
# Figueroa
fig12_rsum = fig12['reading_score'].sum()
fig12_tot = len(fig12)
fig12_ravg = fig12_rsum/fig12_tot
# Huang
hua12_rsum = hua12['reading_score'].sum()
hua12_tot = len(hua12)
hua12_ravg = hua12_rsum/hua12_tot
# Ford
ford12_rsum = ford12['reading_score'].sum()
ford12_tot = len(ford12)
ford12_ravg = ford12_rsum/ford12_tot
# Wilson
wil12_rsum = wil12['reading_score'].sum()
wil12_tot = len(wil12)
wil12_ravg = wil12_rsum/wil12_tot
# Cabrera
cab12_rsum = cab12['reading_score'].sum()
cab12_tot = len(cab12)
cab12_ravg = cab12_rsum/cab12_tot
# Wright
wri12_rsum = wri12['reading_score'].sum()
wri12_tot = len(wri12)
wri12_ravg = wri12_rsum/wri12_tot
# Shelton
she12_rsum = she12['reading_score'].sum()
she12_tot = len(she12)
she12_ravg = she12_rsum/she12_tot
# Thomas
tho12_rsum = tho12['reading_score'].sum()
tho12_tot = len(tho12)
tho12_ravg = tho12_rsum/tho12_tot
# Griffin
grif12_rsum = grif12['reading_score'].sum()
grif12_tot = len(grif12)
grif12_ravg = grif12_rsum/grif12_tot
# Pena
pen12_rsum = pen12['reading_score'].sum()
pen12_tot = len(pen12)
pen12_ravg = pen12_rsum/pen12_tot
# Holden
hold12_rsum = hold12['reading_score'].sum()
hold12_tot = len(hold12)
hold12_ravg = hold12_rsum/hold12_tot

# Column Add
school_rgrade['12th Grade Reading Avg'] = [bail12_ravg, john12_ravg, hern12_ravg, rod12_ravg, 
                                           fig12_ravg, hua12_ravg, ford12_ravg, wil12_ravg, 
                                           cab12_ravg, wri12_ravg, she12_ravg, tho12_ravg, 
                                           grif12_ravg, pen12_mavg, hold12_mavg]

In [87]:
school_rgrade

,High School,9th Grade Reading Avg,10th Grade Reading Avg,11th Grade Reading Avg,12th Grade Reading Avg
0,Bailey,81.303155,80.907183,80.945643,80.912451
1,Johnson,81.260714,80.773431,80.616027,81.227564
2,Hernandez,80.866860,80.660147,81.396140,80.857143
3,Rodriguez,80.993127,80.629808,80.864811,80.376426
4,Figueroa,81.198598,81.408912,80.640339,81.384863
5,Huang,81.290284,81.512386,81.417476,80.305983
6,Ford,80.632653,81.262712,80.403642,80.662338
7,Wilson,83.939778,84.021452,83.764608,84.317673
8,Cabrera,83.676136,84.253219,83.788382,84.287958
9,Wright,83.833333,83.812757,84.156322,84.073171
10,Shelton,83.420755,83.441964,84.373786,82.781671
11,Thomas,83.728850,84.254157,83.585542,83.831361
12,Griffin,83.369193,83.706897,84.288089,84.013699
13,Pena,83.807273,83.612000,84.335938,84.121547
14,Holden,83.677165,83.324561,83.815534,82.855422

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [88]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [98]:
# Create a new column to show budget per student in each row
budget_score = pd.DataFrame()
budget_score['High School'] = school_performance['High School']
budget_score['Budget/Student'] = school_performance['Budget/Student']
budget_score

   High School  Budget/Student
0       Bailey       3124928.0
1      Johnson       3094650.0
2    Hernandez       3022020.0
3    Rodriguez       2547363.0
4     Figueroa       1884411.0
5        Huang       1910635.0
6         Ford       1763916.0
7       Wilson       1319574.0
8      Cabrera       1081356.0
9       Wright       1049400.0
10     Shelton       1056600.0
11      Thomas       1043130.0
12     Griffin        917500.0
13        Pena        585858.0
14      Holden        248087.0

In [48]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [89]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [94]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate